@import 'lib/bootstrap/mixins';
// Custom Spectrum namespace prefix = spe_
@import 'mixins/media-queries';
@import 'mixins/position';
@import 'mixins/utilities';
@import 'mixins/grid';
@import 'mixins/buttons';
@mixin aem-authoring {
	@at-root {
		/* Begin author-only style */
	}
	.aem-AuthorLayer-Layouting &,
	.aem-AuthorLayer-Edit & {
		@content;
	}
	@at-root {
		/* End author-only styles */
	}
}

@mixin gradient-text-blue($fallback-color: $lt-blue, $start-color: #4ab3f1, $end-color: $md-blue) {
	color: $fallback-color;
	background-image: none;
	// @supports should be avoided but so should -webkit-background-clip
	@supports ( ( (-webkit-background-clip: text) or (background-clip: text)) and ( (-webkit-text-fill-color: transparent) or (text-fill-color: transparent))) {
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		background-repeat: repeat-x;
		background-image: linear-gradient(to bottom, $start-color 0, $end-color 100%);
	}
}

@mixin bg-white($percent: 100) {
	background-color: rgba(255, 255, 255, ($percent * .01));
}

@mixin heading($tag) {
	#{$tag},
	.#{$tag} {
		@content;
	}
}
