$white: #fff;
$black: #333;

// Residential
// ===========
// Primary
// -------
$blue              : #003057;
// Secondary
// ---------
$md-blue           : #00629b; //rgb(0, 98, 155)
$lt-blue           : #0077bc;
$gray              : #808285;
$dk-gray           : #333;
$teal              : #009e8c;
// Limited Use#
// -----------
$yellow            : #faa41a;
$pink              : #96004d;
$purple            : #500778;


// Business
// ========
// Primary
// -------
// "Business Blue"
$bus-blue          : $md-blue; //#00629b
// "Teal"
$bus-teal          : #18b9a0;
// "Charcoal"
$bus-dk-gray       : $dk-gray; // #333
// "Gold"
$bus-gold          : #fdaa18;
// Secondary
// ---------
// "Dust"
$bus-off-white     : #f1f5f8;
// "Yellow"
$bus-yellow        : #ffbc00;
// "Blue"
$bus-blue-secondary: #0073ae;
// "Gray"
$bus-gray          : #535353;
// "Medium gray"
$bus-md-gray       : #919191;
// "Bright blue"
$bus-brt-blue      : #7ce5ff;
// Tertiary
// --------
// "Deep blue"
$bus-dk-blue       : #083e62;
// "Light blue"
$bus-lt-blue       : #d5f6ff;
// "Mustard"
$bus-dk-yellow     : #da8d00;
// "Orange"
$bus-orange        : #f66200;
// "Burnt Orange"
$bus-dk-orange     : #dd5800;
// "Light gray"
$bus-lt-gray       : #eee;
// "Medium Blue"
$bus-md-blue       : #1693c3;


// Not from style guide
$white             : #fff;
$md-blue-fill      : #004e7d;
$lt-orange         : #feb533;
$lt-orange-2       : #ffb229;
$tangerine         : #e69300;
$bright-orange     : #ffa300;
$bright-orange-2   : #faa000;
$orange-brown      : #cc9933;
$cool-grey         : #51565c;
$lt-cool-grey      : #e7eef4;
$lighter-blue      : #52a9f1;
$bright-blue       : #0091e6;
$cool-grey-02      : #52565c;
$lt-green          : #8cc657;
$heading-blue      : #03629c;
$gray-ea           : #eaeaea;
$gray-ef           : #efefef;

// Component defaults
$link-default      : $md-blue;
$link-hover-default: $blue;
