@import 'initialize';
$file-title: 'Site Header';

/* #{$file-title} */

$grid-column: '[class*="aem-GridColumn"]';
$megamenu-menu: '.sub-menu-item';


.site-header {
	.container {
		padding-top: 0;
		padding-bottom: 0;
	}
	.site-logo {
		p {
			margin: 0;
		}
	}
	.menu-sm {
		@include breakpoint('sm') {
			display: none;
			@include aem-authoring {
				display: block;
			}
		}
	}
	.menu-lg {
		display: none;
		@include breakpoint('sm') {
			display: block;
		}
		@include aem-authoring {
			display: block;
		}
	}
	// "Navbar" that creates the hamburger nav toggle button and menu
	.navbar-sm {
		background-color: transparent;
		border-width: 0;
		.navbar-nav,
		.navbar-form {
			background-color: $cool-grey;
			margin-top: 0;
			margin-bottom: 0;
		}
		// Nav menu
		.navbar-nav {
			background-color: $cool-grey;
			margin-top: 0;
			margin-bottom: 0;
			.nav-item {
				padding-left: 0;
				padding-right: 0;
				&+.nav-item {
					.nav-link {
						border-top-width: 0.1rem;
						border-top-style: solid;
						border-top-color: $bus-md-gray;
					}
				}
			}
			.nav-link {
				font-size: 1.6rem;
				color: #fff;
				text-decoration: none;
				transition: all $transition-time-default ease-out;
				transition-property: color, background;
				@include pseudo-double-angle-right;
				&::after {
					right: $column-padding;
					position: absolute;
				}
				@include hover-focus() {
					background-color: $bus-md-blue;
				}
			}
		}
		.navbar-form {
			border-top-width: 0.1rem;
			border-top-style: solid;
			border-top-color: $bus-md-gray;
			padding-bottom: 2rem;
			.form-row {
				display: flex;
				@include aem-authoring {
					display: block;
				}
			}
			// <label> and <input>
			.form-group {
				width: 100%;
				padding-right: $column-padding;
				margin-bottom: 0;
			}
			.form-label {
				color: #fff;
				font-size: 1.4rem;
				font-weight: normal;
			}
			// Submit button
			.btn-submit {
				margin-left: auto;
			}
		}
		// Toggle button
		$toggle-color: $bus-lt-gray;
		.navbar-toggle {
			border-color: $toggle-color;
			transition: all $transition-time-default ease-out;
			transition-property: background-color;
			& .icon-bar {
				background-color: $toggle-color;
			}
		}
	}
	.navbar {
		position: static;
		.navbar-collapse {
			.nav {
				text-align: left;
			}
		}
	}
	.container,
	.container-fluid {
		&>.navbar-header,
		&>.navbar-collapse {
			margin-left: 0;
			margin-right: 0;
		}
	}
	// Prevent white text in <input>
	.messagebox-wrapper,
	.mui-wrapper {
		input {
			color: $text-color-default;
		}
	}
	// Element that gets shown/hidden when ZIP action or Search is clicked
	.messagebox-wrapper {
		padding-top: $site-header-padding-top;
		padding-bottom: $site-header-padding-bottom;
		display: none;
	}
	// Search and ZIP forms in header
	.messageBox {
		position: relative;
		padding-right: 1.5rem;
		@include breakpoint('sm') {
			padding-right: 2.5rem;
		}
		// Close button
		.close-message {
			position: absolute;
			z-index: map-get($z-layer-bus, 'close-button');
			font-size: 0;
			line-height: 1;
			right: -$container-padding-sm;
			@include breakpoint('sm') {
				right: 0;
			}
			&::after {
				font-size: $font-size-default-bus;
				line-height: 1;
				color: $text-color-default;
			}
		}
	}
	// Class bug
	.aem-GridColumn.btn-primary {
		background-color: transparent;
		border-style: none;
	}
	// Mega Menus
	.mega-menu-item {
		// Megamenu activated
		&.js-active .sub-menu-item {
			display: block;
		}
	}
	.sub-menu-item {
		display: none;
		position: absolute;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

.navbar-toggle {
	margin-left: 0;
	margin-right: 0;
}

// Collapsing content
.navbar-collapse {
	border-width: 0;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	z-index: map-get($z-layer-bus, navbar-sm);
	text-align: left;
	@include aem-authoring {
		position: static;
	}
}

.geoloc-btn button {
	@include spe_btn-default-bus;
	line-height: inherit;
	border-width: 0;
}

.list-inline {
	margin-left: auto;
}

a,
path {
	transition: all $transition-time-default ease-out;
}

a {
	transition-property: color;
}

path {
	transition-property: fill;
}

@import 'page-headers/header-01';
@import 'page-headers/header-02';
@import 'page-headers/header-03';
