@import 'initialize';

/* Typography: Business */

@import 'com/style/typography';
@import 'bus/style/typography/base';
@import 'typography/headings';
.text-sm,
.small {
	font-size: 1.2rem;
}

.text-subhead {
	font-size: 1.6rem;
	@include breakpoint('md') {
		font-size: 1.8rem;
	}
}

.text-color-default {
	color: $text-color-default;
}

.text-size-default {
	font-size: 1.4rem;
}

.pseudo-double-angle-right {
	@include pseudo-double-angle-right;
}

$link-color-default: $md-blue;
$link-color-alternate: $bus-teal;
// Links
a {
	&,
	.link-default & {
		color: $link-color-default;
		cursor: pointer;
		font-style: normal;
		// font-weight: 600;
		margin: 0;
		text-decoration: underline;
		vertical-align: baseline;
		@include hover-focus {
			color: $blue;
		}
	}
}

.link-alternate {
	a {
		color: $link-color-alternate;
		@include hover-focus {
			color: darken($link-color-alternate, 15%);
		}
	}
}

// Used on dark BG
.link-light {
	@extend .link-alternate;
	a {
		@include hover-focus {
			color: lighten($link-color-alternate, 15%);
		}
	}
}

.link-packages {
	a {
		@extend .text-sm;
		color: #fff;
		@include hover-focus {
			color: darken(#fff, 15%);
		}
	}
}

.link-packages-alternate {
	a {
		@extend .text-sm;
		color: $bus-brt-blue;
		@include hover-focus {
			color: darken($bus-brt-blue, 15%);
		}
	}
}

.link-header {
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	@include breakpoint('md') {
		font-size: 1.8rem;
	}
	a {
		@extend .pseudo-double-angle-right;
		&::after {
			font-size: 0.8em;
			display: contents;
		}
	}
}

.link-strong {
	font-size: 1.5rem;
	font-weight: bold;
	a {
		@extend .pseudo-double-angle-right;
		&::after {
			content: '\00a0\00bb';
			font-family: inherit;
		}
	}
}

.link-list {
	font-weight: bold;
	a {
		@extend .pseudo-double-angle-right;
		&::after {
			content: '\00a0\00bb';
			font-family: inherit;
		}
	}
}

// Lists
ul,
ol,
dl {
	color: $dk-gray;
	line-height: 1.57; //~22px @ 14px font-size
}

// Image captions
.caption,
figcaption {
	font-weight: 600;
	font-size: 1.3rem;
}

// Disclaimers
.disclaimer {
	font-size: 1.1rem;
	color: $gray;
}

.disclaimer-sm {
	color: $bus-md-gray;
	font-size: 0.9rem;
}
