// Business variables

// Color scheme for default buttons
$btn-default-colors: (
	color:                      #fff,
	background:                 $bus-gold,
	border:                     transparent,
	hover:                      #f0f4f7,
	hover-bg:                   $bus-yellow
	// active:                  #f0f4f7,
	// focus:                   #f0f4f7,
	// active-hover:            #f0f4f7,
	// active-hover-bg:         #fdaa18
	// bg-gradient-start:       #fdaa18,
	// bg-gradient-end:         $bright-orange,
	// bg-gradient-hover-start: #fdaa18,
	// bg-gradient-hover-end:   #fdaa18
);

$text-color-default: $bus-dk-gray;
$font-size-default-bus: 1.4rem;
$container-padding: 0.5rem;
$container-padding-sm: 0.5rem;
$link-color-default-bus: $bus-blue;
// Business z-indexes
$z-layer-bus : (
	btn-icon:     10, // icons inside of buttons
	close-button: 20, // Close button in header forms
	navbar-sm:    101, // Nav toggled with hamburger button
	megamenu:     1000 // Dropdown meny for primary nav
);
$site-footer-bg-color:    $bus-gray;
$navbar-toggle-spacing-x: 10px;
$navbar-toggle-spacing-y: 8px;
