@import 'initialize';
.site-footer {
	padding-top: 3rem;
	padding-bottom: 2rem;
	background-color: #77787B;
	border-top: 0.6rem solid #535353;
	h3 {
		// font-size: 2.1rem;
		// margin-bottom: 1rem;
		font-weight: 300;
	}
	h3,
	li,
	p,
	a,
	span {
		color: #fff;
	}
	ul,
	ol {
		list-style: none;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 0;
	}
	a,
	.linkComponent span {
		text-decoration: none;
		font-size: 1.3rem;
	}
}
