@import 'initialize';

// Accordion Table: core CSS overrides
$btn-color: #feb533;
$accordion-switchpoint: 'md';

ul.at-table {
	display: block;
	width: 100%;

	li {
		display: list-item;
		padding: 0;
		vertical-align: baseline;
	}
}

.row-details {
	display: none;
}

// .new {
// 	display: 	none;
// }
