@import 'initialize';
@import 'testing';

/* Accordion Table */
$btn-color: #feb533;
$btn-choose-color: $md-blue;
$accordion-switchpoint: 'md';
$column-padding-h: 1rem;
$column-padding-v: 0.5rem;
$table: 'ul.at-table';

.accordionTableRow {
	@import 'override';

	position: relative;

	// Table base
	#{$table} {
		display: block;
		margin: 0;
		padding: 0;
	}

	%heading {
		margin-top: 0;
		font-family: $font-open-sans;
		font-weight: 300;
	}

	@for $i from 1 through 6 {
		h#{$i} {
			@extend %heading;
		}
	}

	h1 {
		font-size: 2.6rem;
	}

	h2 {
		font-size: 2.4rem;
	}

	h3 {
		font-size: 2.2rem;
		line-height: 1.1;
		margin-bottom: .3rem;
		margin-top: 0;

		a {
			color: $link-default;
			text-decoration: none;

			@include hover-focus {
				text-decoration: underline;
				color: $link-hover-default;
			}
		}
	}

	h4 {
		font-size: 1.6rem;
	}

	@import 'header';
	@import 'details';
}
@import 'offer-table';
