#php_value auto_prepend_file /home/dstockbr/public_html/charter/inc/header.php
#php_value include_path ".:/path"
RewriteCond %{THE_REQUEST} ^(GET|POST|HEAD)\ /\?c=([^&\ ]+)
RewriteRule ^ /components/%2/? [L,R=301]
RewriteCond %{THE_REQUEST} ^(GET|POST|HEAD)\ /\?s=([^&\ ]+)
RewriteRule ^ /sandbox/%2/? [L,R=301]
