{
  "rules": {
    "color-no-invalid-hex": true,
    "declaration-colon-space-after": "always",
    "max-empty-lines": 2,
    "indentation": ["tab", {
      "except": ["value"]
    }],
    "selector-list-comma-newline-after": "always",
    "number-no-trailing-zeros": true,
    "number-leading-zero": true,
    "length-zero-no-unit": true,
    "selector-combinator-space-after": true,
    "color-hex-case": "lower",
    "block-opening-brace-space-before": "always",
    "at-rule-empty-line-before": "always",
    "function-space-after": "always"
  }
}
