/* Tab Style 3: Promo */
// Component wrapper
.#{$component}.tab-style-3 {
	// Row containing tabs
	.tab-row {
		overflow: hidden;
		text-align: center;

		@if $nav-tabs-3-enable-justify == true {
			@include breakpoint(lg) {
				display: table;
				width: 100%;
			}
		}

		// nav tabs list
		ul.nav-tabs {
			border-bottom: none;

			@if $nav-tabs-3-enable-justify == true {
				@include breakpoint(lg) {
					display: table-row;
				}
			}

			// Tabs and arrows (LI)
			.tab,
			.arrow {
				font-size: 1.7rem;
				margin: 0;
				margin-left: .8rem;
				margin-right: .8rem;
				margin-bottom: .5rem;
				float: none;
				display: inline-block;

				@include breakpoint(lg) {
					margin-left: 2rem;
					margin-right: 2rem;
					margin-bottom: 0;
				}


				@if $nav-tabs-3-enable-justify == true {
					@include breakpoint(lg) {
						float: none;
					}
				}

				// Tab link
				> a {
					color: #fff;
					font-weight: 700;
					border: .1rem solid transparent;
					display: inline-block;
					background-color: transparent;
					padding: 1.5rem;

					@include breakpoint(lg) {
						margin-top: .5rem;
						margin-bottom: -.1rem;
						padding: 2.5rem 1.25rem;
					}


					@include hover-focus {
						color: $md-blue;
					}


					&.details-toggle {
						display: none;
					}
				}
			}

			//end .tab, .arrow

			// Tabs
			.tab {
				// Active tab link
				&.js-active > a {
					&,
					&:hover,
					&:focus {
						border: .1rem solid #FFF;
						box-shadow: 0 0 .5rem 0 #000000;
						background: #fff;
						color: $lt-blue;
						border-radius: .5rem;

						@include breakpoint(lg) {
							margin-top: 1rem;
							border-radius: .5rem .5rem 0 0;
						}
					}
				}
			}

			// Prev/Next Arrow
			.arrow {
				display: none;

				@include breakpoint(lg) {
					display: block;

					@if $nav-tabs-3-enable-justify == true {
						@include breakpoint(lg) {
							display: table-cell;
						}
					}
				}


				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				a {
					background-color: #fff;
					color: $lt-blue;
					border-radius: 0;
				}
			}
		}

		// Wraps .tabbedLabel (which wraps tab LI), First immediate child of tab UL
		.tabbedRow {
			display: inline;

			@if $nav-tabs-3-enable-justify == true {
				@include breakpoint(lg) {
					display: table-cell;
				}
			}

			.tabbedLabel {
				display: inline;

				@include breakpoint(lg) {
					display: inline-block;
				}
			}
		}
	}
}
