// Horizontal 1
// Classes
$form-inner: 'localization__inputs';
// Wrapping div, direct child of container
$form-input: 'localization__input';
// all <input>s
$form-input-container: 'localization__inputs';
// all <input>s container
$help-button-wrapper: 'localization__info-pop';
$help-button-icon: 'localization__tooltip-icon';
$submit-button: 'localization__input-submit';
$col-apt-unit: 'localization__col1';
// Apt/Unit column
$col-zip: 'localization__col2';
// ZIP column
$form-input-address: 'localization__input-address1';
// address <input>
$form-input-address-wrapper: 'localization__input-container-address';
// Colors
$help-button-icon-color: #ffa300;
$input-border-color: #b5b5b5;
$input-bg-color: #f5f5f5;
$form-text-color: #52565c;
// Misc
$form-font-size: 1.4rem;
$form-part-border-radius: 1.4rem;
// rounded border on form elements
$input-padding-base: 1.1rem;
$help-button-width: 3rem;
$location-icon-url: 'https://www.charter.com/browse/static/images/tv-product-page-angular/location-icon.png';
$col-small-w: 11rem;
$popover-width: 40rem;
// Horizontal form width inside modal
// Form width
$mui-form-w-default: 450px;
// Apt/unit column
$mui-col-apt-w-default: 200px;
// ZIP column
$mui-col-zip-w-default: 100px;
// Submit button
$mui-btn-submit-w-default: 108px;
//  Multiple address form
$med-grey: rgb(145, 145, 148); //#919194
$form-ma-line-height-default: 1.428125; //#919194
