@import 'initialize';
// For prototype purposes only - do not ingest
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0.5em 0;
}

.color-light {
  display: inline-block;
  background: #52575d;
  padding: 0.5em;
}

ul {
  list-style-type: none;
}
// End prototype only styling


body {
  color: $dk-gray;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.6rem;
  font-size: 16px;
  line-height: 2.0rem;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $dk-gray;
}

h1,
.h1 {
  font-size: 2.2rem;
  line-height: 1.27;
  color: $dk-gray;
  font-weight: 500;

  @include breakpoint('md') {
    font-size: 3.0rem;
    line-height: 1.2;
  }

  &.alternate {
    color: $heading-blue;
    font-weight: 900;
  }
}

h2,
.h2 {
  font-size: 2.0rem;
  font-weight: 800;
  color: #fff;

  @include breakpoint('md') {
    font-size: 2.6rem;
  }

  &.alternate {
  }
}

h3,
.h3 {
  font-size: 2.2rem;
  font-size: 22px;
  line-height: 2.8rem;
  line-height: 28px;

  @media (min-width: $screen-lg-min) {
    font-size: 2.6rem;
    font-size: 26px;
    line-height: 3.2rem;
    line-height: 32px;
  }
}

h4,
.h4 {
  font-size: 2rem;
  font-size: 20px;
  line-height: 2.6rem;
  line-height: 26px;

  @media (min-width: $screen-lg-min) {
    font-size: 2.4rem;
    font-size: 24px;
    line-height: 3.0rem;
    line-height: 30px;
  }
}

h5,
.h5 {
  font-size: 1.8rem;
  font-size: 18px;
  line-height: 2.4rem;
  line-height: 24px;
}

h6,
.h6 {
  font-size: 1.6rem;
  font-size: 16px;
  line-height: 2.2rem;
  line-height: 22px;
}

.color-light,
.color-white {
  color: #ffffff;
}

.color-medium {
  color: $heading-blue;
}

.color-deep {
  color: $blue;
}


// Font weight helpers
.font-light {
  font-weight: 200;
}

.font-medium {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-x-bold {
  font-weight: 900;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: baseline;
  font-style: normal;
  color: #004e7d;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #00324e;
}

a.color-light:hover {
  color: #8cc657;
}
