/* Tabs */
/*
Component wrapper                    : .tabbedComponent or .tab-component
Row containing all tabs              : .tab-row
Individual tab wrapper (wraps LI > A): .tabbedLabel
Individual tab wrapper wrapper       : .tabbedRow
Active tab class                     : .js-active
Row containing all tab content panes : .tab-content-container
 */

$border-radius-base                         : 2px;
$line-height-base                           : 1;

//=== Shared nav styles
$nav-link-padding                           : 10px 15px;

$nav-link-hover-bg                          : #666;

$nav-disabled-link-color                    : #333;
$nav-disabled-link-hover-color              : #333;

//== Tabs
$nav-tabs-border-color                      : #ddd;

$nav-tabs-link-hover-border-color           : #666;

$nav-tabs-active-link-hover-bg              : $body-bg;
$nav-tabs-active-link-hover-color           : $gray;
$nav-tabs-active-link-hover-border-color    : #ddd;

$nav-tabs-justified-link-border-color       : #ddd;
$nav-tabs-justified-active-link-border-color: $body-bg;

// From Bootstrap .nav
@mixin bs-nav {
	margin-bottom: 0;
	padding-left: 0;

	// Override default ul/ol
	list-style: none;

	@include clearfix;

	li {
		position: relative;
		display: block;

		> a {
			position: relative;
			display: block;
			padding: $nav-link-padding;

			&:hover,
			&:focus {
				text-decoration: none;
				background-color: $nav-link-hover-bg;
			}
		}

		// Disabled state sets text to gray and nukes hover/tab effects
		// &.disabled > a {
		// 	color: $nav-disabled-link-color;

		// 	&:hover,
		// 	&:focus {
		// 		color: $nav-disabled-link-hover-color;
		// 		text-decoration: none;
		// 		background-color: transparent;
		// 		cursor: $cursor-disabled;
		// 	}
		// }

	}

	// Open dropdowns
	// .open > a {
	// 	&,
	// 	&:hover,
	// 	&:focus {
	// 		background-color: $nav-link-hover-bg;
	// 		border-color: $link-color;
	// 	}
	// }

	// Nav dividers (deprecated with v3.0.1)
	//
	// This should have been removed in v3 with the dropping of `.nav-list`, but
	// we missed it. We don't currently support this anywhere, but in the interest
	// of maintaining backward compatibility in case you use it, it's deprecated.
	// .nav-divider {
	// 	@include nav-divider;
	// }

	// Prevent IE8 from misplacing imgs
	//
	// See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
	// > li > a > img {
	// 	max-width: none;
	// }
}

// From Bootstrap .nav-tabs
@mixin bs-nav-tabs {
	// Give the tabs something to sit on
	border-bottom: 1px solid $nav-tabs-border-color;

	li {
		float: left;

		// Make the list-items overlay the bottom border
		margin-bottom: -1px;

		// Actual tabs (as links)
		> a {
			margin-right: 2px;
			line-height: $line-height-base;
			border: 1px solid transparent;
			border-radius: $border-radius-base $border-radius-base 0 0;

			&:hover {
				border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
			}
		}

		// Active state, and its :hover to override normal :hover
		&.js-active > a {
			&,
			&:hover,
			&:focus {
				color: $nav-tabs-active-link-hover-color;
				background-color: $nav-tabs-active-link-hover-bg;
				border: 1px solid $nav-tabs-active-link-hover-border-color;
				border-bottom-color: transparent;
				cursor: default;
			}
		}
	}

	// pulling this in mainly for less shorthand
	// &.nav-justified {
	// 	@extend .nav-justified;
	// 	@extend .nav-tabs-justified;
	// }
}

.tab-component {
	// Row containing tabs
	.tab-row {
		ul {
			@include bs-nav;

			@include bs-nav-tabs;

			li {
				> a {

				}
			}
		}
	}

	// Row containing all tab content panes
	.tab-content-container {}
}

// Old Styles
.tab-component {
	.tab-content-container {
		border-radius: 0 0 3px 3px;
		background: #fff;
		box-shadow: 0 1px 2px 0 #888;
	}

	.respTabs {
		display: table;
		width: 100%;
		box-shadow: 0 1px 2px 0 #888;
		border-radius: 3px;
		background-clip: padding-box;

		ul {
			display: table-row;
		}

		.tabbedLabel li {
			position: relative;
			text-align: center;
			background-color: #eeeeef;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeef), to(#dddfe2));
			background-image: -webkit-linear-gradient(top, #eeeeef, #dddfe2);
			background-image: -moz-linear-gradient(top, #eeeeef, #dddfe2);
			background-image: -ms-linear-gradient(top, #eeeeef, #dddfe2);
			background-image: -o-linear-gradient(top, #eeeeef, #dddfe2);
			background-image: linear-gradient(top, #eeeeef, #dddfe2);
		}
	}
}

.section.tabbedRow, .tabbedRow {
	position: relative;
	text-align: center;
	background-color: #eeeeef;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeef), to(#dddfe2));
	background-image: -webkit-linear-gradient(top, #eeeeef, #dddfe2);
	background-image: -moz-linear-gradient(top, #eeeeef, #dddfe2);
	background-image: -ms-linear-gradient(top, #eeeeef, #dddfe2);
	background-image: -o-linear-gradient(top, #eeeeef, #dddfe2);
	background-image: linear-gradient(top, #eeeeef, #dddfe2);
}

.tab-component {
	.respTabs .tabbedLabel li {
		display: inherit;
		margin-right: 0px;
		border-radius: 3px 3px 0 0;
		background-clip: padding-box;
		color: #333;
		vertical-align: middle;
		cursor: pointer;
		padding: 1em;
	}

	.tab-content-container {
		padding: 1em;
	}
}

.parsys_column .tab-component h3 {
	display: block;
}

/* Component Styles */

.tab-component .respTabs li {
	&.light-grey {
		background-image: -webkit-linear-gradient(top, #eeeeef, #f6f6f6);
		background-image: -moz-linear-gradient(top, #eeeeef, #f6f6f6);
		background-image: -ms-linear-gradient(top, #eeeeef, #f6f6f6);
		background-image: -o-linear-gradient(top, #eeeeef, #f6f6f6);
		background-image: linear-gradient(top, #eeeeef, #f6f6f6);
		background-color: #f6f6f6;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f6f6f6));
	}

	&.steelDark-lightest {
		background-color: #f6f6f6;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f6f6f6));
	}

	&.steelDark-darkest {
		background-color: #191a1b;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#191a1b), to(#191a1b));
		background-image: -webkit-linear-gradient(top, #191a1b, #191a1b);
		background-image: -moz-linear-gradient(top, #191a1b, #191a1b);
		background-image: -ms-linear-gradient(top, #191a1b, #191a1b);
		background-image: -o-linear-gradient(top, #191a1b, #191a1b);
		background-image: linear-gradient(top, #191a1b, #191a1b);

		a {
			color: #fff;
		}
	}

	&.steelDark-darker {
		background-color: #2d2e30;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2e30), to(#2d2e30));
		background-image: -webkit-linear-gradient(top, #2d2e30, #2d2e30);
		background-image: -moz-linear-gradient(top, #2d2e30, #2d2e30);
		background-image: -ms-linear-gradient(top, #2d2e30, #2d2e30);
		background-image: -o-linear-gradient(top, #2d2e30, #2d2e30);
		background-image: linear-gradient(top, #2d2e30, #2d2e30);

		a {
			color: #fff;
		}
	}

	&.steelDark-darkish {
		background-color: #3c3e41;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3e41), to(#3c3e41));
		background-image: -webkit-linear-gradient(top, #3c3e41, #3c3e41);
		background-image: -moz-linear-gradient(top, #3c3e41, #3c3e41);
		background-image: -ms-linear-gradient(top, #3c3e41, #3c3e41);
		background-image: -o-linear-gradient(top, #3c3e41, #3c3e41);
		background-image: linear-gradient(top, #3c3e41, #3c3e41);

		a {
			color: #fff;
		}
	}

	&.steelDark-dark {
		background-color: #4d4f53;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4d4f53), to(#4d4f53));
		background-image: -webkit-linear-gradient(top, #4d4f53, #4d4f53);
		background-image: -moz-linear-gradient(top, #4d4f53, #4d4f53);
		background-image: -ms-linear-gradient(top, #4d4f53, #4d4f53);
		background-image: -o-linear-gradient(top, #4d4f53, #4d4f53);
		background-image: linear-gradient(top, #4d4f53, #4d4f53);

		a {
			color: #fff;
		}
	}

	&.steelDark {
		background-color: #747679;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#747679), to(#747679));
		background-image: -webkit-linear-gradient(top, #747679, #747679);
		background-image: -moz-linear-gradient(top, #747679, #747679);
		background-image: -ms-linear-gradient(top, #747679, #747679);
		background-image: -o-linear-gradient(top, #747679, #747679);
		background-image: linear-gradient(top, #747679, #747679);

		a {
			color: #fff;
		}
	}

	&.steelDark-lightish {
		background-color: #98999b;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#98999b), to(#98999b));
		background-image: -webkit-linear-gradient(top, #98999b, #98999b);
		background-image: -moz-linear-gradient(top, #98999b, #98999b);
		background-image: -ms-linear-gradient(top, #98999b, #98999b);
		background-image: -o-linear-gradient(top, #98999b, #98999b);
		background-image: linear-gradient(top, #98999b, #98999b);

		a {
			color: #fff;
		}
	}

	&.steelDark-light {
		background-color: #d4d5d6;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#d4d5d6), to(#d4d5d6));
		background-image: -webkit-linear-gradient(top, #d4d5d6, #d4d5d6);
		background-image: -moz-linear-gradient(top, #d4d5d6, #d4d5d6);
		background-image: -ms-linear-gradient(top, #d4d5d6, #d4d5d6);
		background-image: -o-linear-gradient(top, #d4d5d6, #d4d5d6);
		background-image: linear-gradient(top, #d4d5d6, #d4d5d6);
	}

	&.steelDark-lighter {
		background-color: #e6e6e7;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e7), to(#e6e6e7));
		background-image: -webkit-linear-gradient(top, #e6e6e7, #e6e6e7);
		background-image: -moz-linear-gradient(top, #e6e6e7, #e6e6e7);
		background-image: -ms-linear-gradient(top, #e6e6e7, #e6e6e7);
		background-image: -o-linear-gradient(top, #e6e6e7, #e6e6e7);
		background-image: linear-gradient(top, #e6e6e7, #e6e6e7);
	}

	&.steelDark-lightest {
		background-image: -webkit-linear-gradient(top, #f6f6f6, #f6f6f6);
		background-image: -moz-linear-gradient(top, #f6f6f6, #f6f6f6);
		background-image: -ms-linear-gradient(top, #f6f6f6, #f6f6f6);
		background-image: -o-linear-gradient(top, #f6f6f6, #f6f6f6);
		background-image: linear-gradient(top, #f6f6f6, #f6f6f6);
	}

	&.steelSky-darkest {
		background-color: #0a1c2b;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#0a1c2b), to(#0a1c2b));
		background-image: -webkit-linear-gradient(top, #0a1c2b, #0a1c2b);
		background-image: -moz-linear-gradient(top, #0a1c2b, #0a1c2b);
		background-image: -ms-linear-gradient(top, #0a1c2b, #0a1c2b);
		background-image: -o-linear-gradient(top, #0a1c2b, #0a1c2b);
		background-image: linear-gradient(top, #0a1c2b, #0a1c2b);

		a {
			color: #fff;
		}
	}

	&.steelSky-darker {
		background-color: #12314c;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#12314c), to(#12314c));
		background-image: -webkit-linear-gradient(top, #12314c, #12314c);
		background-image: -moz-linear-gradient(top, #12314c, #12314c);
		background-image: -ms-linear-gradient(top, #12314c, #12314c);
		background-image: -o-linear-gradient(top, #12314c, #12314c);
		background-image: linear-gradient(top, #12314c, #12314c);

		a {
			color: #fff;
		}
	}

	&.steelSky-dark {
		background-color: #184266;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#184266), to(#184266));
		background-image: -webkit-linear-gradient(top, #184266, #184266);
		background-image: -moz-linear-gradient(top, #184266, #184266);
		background-image: -ms-linear-gradient(top, #184266, #184266);
		background-image: -o-linear-gradient(top, #184266, #184266);
		background-image: linear-gradient(top, #184266, #184266);

		a {
			color: #fff;
		}
	}

	&.steelSky-darkish {
		background-color: #205381;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#205381), to(#205381));
		background-image: -webkit-linear-gradient(top, #205381, #205381);
		background-image: -moz-linear-gradient(top, #205381, #205381);
		background-image: -ms-linear-gradient(top, #205381, #205381);
		background-image: -o-linear-gradient(top, #205381, #205381);
		background-image: linear-gradient(top, #205381, #205381);

		a {
			color: #fff;
		}
	}

	&.steelSky {
		background-color: #4f799e;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#4f799e), to(#4f799e));
		background-image: -webkit-linear-gradient(top, #4f799e, #4f799e);
		background-image: -moz-linear-gradient(top, #4f799e, #4f799e);
		background-image: -ms-linear-gradient(top, #4f799e, #4f799e);
		background-image: -o-linear-gradient(top, #4f799e, #4f799e);
		background-image: linear-gradient(top, #4f799e, #4f799e);

		a {
			color: #fff;
		}
	}

	&.steelSky-lightish {
		background-color: #7b9cb9;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#7b9cb9), to(#7b9cb9));
		background-image: -webkit-linear-gradient(top, #7b9cb9, #7b9cb9);
		background-image: -moz-linear-gradient(top, #7b9cb9, #7b9cb9);
		background-image: -ms-linear-gradient(top, #7b9cb9, #7b9cb9);
		background-image: -o-linear-gradient(top, #7b9cb9, #7b9cb9);
		background-image: linear-gradient(top, #7b9cb9, #7b9cb9);

		a {
			color: #fff;
		}
	}

	&.steelSky-light {
		background-color: #c8d6e3;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#c8d6e3), to(#c8d6e3));
		background-image: -webkit-linear-gradient(top, #c8d6e3, #c8d6e3);
		background-image: -moz-linear-gradient(top, #c8d6e3, #c8d6e3);
		background-image: -ms-linear-gradient(top, #c8d6e3, #c8d6e3);
		background-image: -o-linear-gradient(top, #c8d6e3, #c8d6e3);
		background-image: linear-gradient(top, #c8d6e3, #c8d6e3);
	}

	&.steelSky-lighter {
		background-color: #dfe7ee;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#dfe7ee), to(#dfe7ee));
		background-image: -webkit-linear-gradient(top, #dfe7ee, #dfe7ee);
		background-image: -moz-linear-gradient(top, #dfe7ee, #dfe7ee);
		background-image: -ms-linear-gradient(top, #dfe7ee, #dfe7ee);
		background-image: -o-linear-gradient(top, #dfe7ee, #dfe7ee);
		background-image: linear-gradient(top, #dfe7ee, #dfe7ee);
	}

	&.steelSky-lightest {
		background-color: #f3f6f9;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f6f9), to(#f3f6f9));
		background-image: -webkit-linear-gradient(top, #f3f6f9, #f3f6f9);
		background-image: -moz-linear-gradient(top, #f3f6f9, #f3f6f9);
		background-image: -ms-linear-gradient(top, #f3f6f9, #f3f6f9);
		background-image: -o-linear-gradient(top, #f3f6f9, #f3f6f9);
		background-image: linear-gradient(top, #f3f6f9, #f3f6f9);
	}

	a {
		display: inline-block;
		position: relative;
		font-family: 'TWC Round Book', Arial, Sans-Serif;
		font-style: normal;
		font-weight: 400;
		text-decoration: none;
		padding: 0;
	}

	&.active a, &.js-active a, a {
		color: #333;
		font-weight: normal;
	}
}

/* End Component Styles */

.parsys.parsys-tab-content, .respTabs .parsys-tab-content {
	display: none;
}

.tab-component .tab-content {
	&.active, &.js-active {
		display: block;
	}
}

.tab-content-container .parsys-tab-content.js-active {
	display: block;
}

.section.tabbedRow, .tabbedRow {
	display: table-cell;
}

.tab-component {
	.respTabs li {
		&.active, &.js-active {
			background: #fff;
			filter: none;
		}
	}

	[class*=' icon-'] {
		display: block;
		margin-right: 0;
	}

	[class*=icon-after].icon-cloud span:after, [class*=icon-before].icon-cloud span:before, [class*=icon-only].icon-cloud span:after {
		content: '∩âé';
	}

	[class*=icon-after].icon-laptop span:after, [class*=icon-before].icon-laptop span:before, [class*=icon-only].icon-laptop span:after {
		content: '∩äë';
	}

	[class*=icon-after].icon-sitemap span:after, [class*=icon-before].icon-sitemap span:before, [class*=icon-only].icon-sitemap span:after {
		content: '∩â¿';
	}

	[class*=icon-after].icon-desktop span:after, [class*=icon-before].icon-desktop span:before, [class*=icon-only].icon-desktop span:after {
		content: '∩äê';
	}

	[class*=icon-after].icon-phone span:after, [class*=icon-before].icon-phone span:before, [class*=icon-only].icon-phone span:after {
		content: '∩éò';
	}
}

/* Icons */

/* End Icons */

.parsys_column .tab-component .respTabs ul {
	padding-left: 0px;
}

.tab-component {
	ul .parsys-tab-content {
		padding: 1em;
	}

	.tab-content-container .vertical-center {
		transform: none;
		-webkit-transform: none;
		-ms-transform: none;
	}
}

@media (max-width: 49.2em) {
	.tab-component .respTabs {
		display: block;

		ul {
			display: block;
		}
	}

	.section.tabbedRow, .tabLabel.tabbedLabel {
		display: block;
	}

	.respTabs .parsys-tab-content {
		background-color: #fff;
		text-align: left;
	}

	ul .tabbedLabel li {
		display: block;
		border-bottom: 1px solid #e1e1e1;
		border-radius: 0;
		border-bottom: 1px solid #e1e1e1;
		text-align: left;
	}

	.tabbedLabel li.js-first, ul .tabbedLabel li {
		background-clip: padding-box;
	}

	.tabbedLabel li {
		a {
			width: 100%;

			&:after {
				font-family: FontAwesome;
				content: '\f107';
				float: right;
				-webkit-transition: all .5s ease-in-out;
				-moz-transition: all .5s ease-in-out;
				-ms-transition: all .5s ease-in-out;
				-o-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;
			}
		}

		&.active a:after, &.js-active a:after {
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',  M11=cos(180deg), M12=-sin(180deg), M21=sin(180deg), M22=cos(180deg));
			zoom: 1;
			float: right;
		}

		&.js-first {
			border-radius: 3px 3px 0 0;
			width: 100%;
		}
	}

	.tab-component {
		.tab-content-container {
			display: none;
		}

		.tab-content {
			padding: 1em;
			background: #fff;
			filter: none;
		}
	}

	.tabbedLabel li.tab-end {
		border-bottom: 0;
		border-left: 0;
		border-radius: 0 0 3px 3px;
	}

	.tabbedRow, .tabLabel.tabbedLabel {
		display: block;
	}
}
