@import 'initialize';

/* Business: Button-style links */

// Base styles
.btn {
	font-weight: 500;
	font-size: 1.7rem;
	position: relative;
}

.btn-fw {
	width: 100%;
}

.btn-no-wrap {
	white-space: nowrap;
}

.btn-wrap {
	white-space: normal;
}

.btn-lg {
	font-size: 1.9rem;
}

.btn-sm {
	font-size: 1.4rem;
}

.btn-xs {
	font-size: 1.3rem;
}

// Variants
.btn-default {
	@include spe_btn-default-bus;
	&:focus,
	&.focus {
		outline-offset: 0.2rem;
		outline-width: 0.1rem;
		outline-style: dotted;
		outline-color: #0255e7;
	}
	&:active,
	&.active {
		box-shadow: inset 0 0.3rem 0.5rem rgba(0, 0, 0, 0.125);
	}
	&:hover span::after {
		background-color: #D49B22;
	}
}

// Button Icons
.spectrum-icon-after {
	.btn {
		padding-right: 3em;
	}
	span:after {
		background: $bus-dk-yellow;
		position: absolute;
		display: inline-block;
		right: 0;
		font-size: 1em;
		border-radius: 0 0.5rem 0.5rem 0;
		height: 100%;
		width: 4rem;
		top: 0;
	}
	.btn-sm {
		padding-right: 4em;
		span:after {
			line-height: 2.25;
		}
	}
}

// Double angle right
.icon-double-angle-right {
	.btn span:after {
		content: "\e601";
		font-family: $font-charter-icons;
		padding: 0 .5em;
		line-height: 1.9;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
