@import 'initialize';
// Link button styles
// Buttons
// --------------------------------------------------
// Base styles
// --------------------------------------------------
.btn {
	font-weight: 500;
	font-size: 1.7rem;
	&:focus,
	&.focus {
		outline-offset: 0.2rem;
		outline-width: 0.1rem;
		outline-style: dotted;
	}
}

.btn-fw {
	width: 100%;
}

.btn-no-wrap {
	white-space: nowrap;
}

.btn-lg {
	font-size: 1.9rem;
}

.btn-sm {
	font-size: 1.4rem;
}

.btn-xs {
	font-size: 1.3rem;
}

// Variants
.btn-default {
	@include spe_btn-default-bus;
}
