@import 'initialize';

/* Business: Button-style links */

// Base styles
.btn {
	font-weight: 500;
	font-size: 1.7rem;
	position: relative;
}

.btn-fw {
	width: 100%;
}

.btn-no-wrap {
	white-space: nowrap;
}

.btn-wrap {
	white-space: normal;
}

.btn-lg {
	font-size: 1.9rem;
}

.btn-sm {
	font-size: 1.4rem;
}

.btn-xs {
	font-size: 1.3rem;
}

// Variants
.btn-default {
	@include spe_btn-default-bus;
	&:focus,
	&.focus {
		outline-offset: 0.2rem;
		outline-width: 0.1rem;
		outline-style: dotted;
		outline-color: #0255e7;
	}
	&:active,
	&.active {
		box-shadow: inset 0 0.3rem 0.5rem rgba(0, 0, 0, 0.125);
	}
	&:hover span::after {
		background-color: #D49B22;
	}
}
