@import 'initialize';

/* Image Art Direction */
// Horizontal focus points
// 1 = far left
// 2 = left
// 3 = center
// 4 = right
// 5 = far right

$focus-far-left: left;
$focus-left: 25%;
$focus-middle: 50%;
$focus-right: 75%;
$focus-far-right: right;
$x-positions: left, 25%, 50%, 75%, right;
$y-positions: top, bottom;
$x-position-default: center;
$container-name: image-focus;
$container-class: imageArtDirection;

[class*='image-focus-'] {
	min-height: 20rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.#{$container-class} a[class*='image-focus-'] {
	display: block;
	color: inherit;
	text-decoration: none;
}

.container  .#{$container-class} {
	vertical-align: middle;
	color: #fff;
}

@for $i from 1 through length($x-positions) {
	@for $i from 1 through length($x-positions) {
		.mob-#{$container-name}-#{$i} {
			background-position: nth($x-positions, $i) $x-position-default;

			@for $j from 1 through length($y-positions) {
				&.mob-#{$container-name}-#{nth($y-positions, $j)} {
					background-position: nth($x-positions, $i) nth($y-positions, $j);
				}
			}
		}
	}
}

@include breakpoint('sm') {
	.#{$container-name}-#{$i} {
		background-position: nth($x-positions, $i) $x-position-default;

		@for $j from 1 through length($y-positions) {
			&.#{$container-name}-#{nth($y-positions, $j)} {
				background-position: nth($x-positions, $i) nth($y-positions, $j);
			}
		}
	}
}
