@at-root {
	/* Business: Color Helpers */
}

// Color names for text color helpers
$bus-colors: ( //
off-white: $bus-off-white, //
dust: $bus-off-white, //
lt-gray: $bus-lt-gray, //
med-gray: $bus-md-gray, //
gray: $bus-gray, //
dk-gray: $bus-dk-gray, //
charcoal: $bus-dk-gray, //
blue-secondary: $bus-blue-secondary, //
business-blue: $bus-blue, //
blue: $bus-blue, //
lt-blue: $bus-lt-blue, //
bright-blue: $bus-brt-blue, //
med-blue: $bus-md-blue, //
deep-blue: $bus-dk-blue, //
teal: $bus-teal, //
yellow: $bus-yellow, //
dk-yellow: $bus-dk-yellow, //
mustard: $bus-dk-yellow, //
gold: $bus-gold, //
orange: $bus-orange, //
dk-orange: $bus-dk-orange, //
burnt-orange: $bus-dk-orange //
);
// Text colors
@each $name,
$color in $bus-colors {
	@include helper-text-color($name, $color);
}

// Override
a {
	&.text-teal,
	&.teal-text {
		@include hover-focus {
			color: $link-color-alternate-bus-hover;
		}
		&:active {
			color: $link-color-alternate-bus-active;
		}
	}
}

// Bg colors
@each $name,
$color in $bus-colors {
	@include helper-bg-color($name, $color);
}

// Bullet colors
@each $name,
$color in $bus-colors {
	@include helper-bullet-color($name, $color);
}

.bullets-blue {
	color: $bus-blue;
}

// Translucent backgrounds
.bg-transparent-deep-blue {
	background: rgba(1, 57, 99, 0.8);
}

// Gradients
.blue-gradient-1 {
	background: #2783b3;
	background: linear-gradient(to bottom, #2783b3 1%, $bus-md-blue 100%);
}

.blue-gradient-2 {
	background: #0072ae;
	background: linear-gradient(to bottom, #0072ae 0%, #0d84b9 100%);
}

.gray-gradient {
	background: $bus-off-white;
	background: linear-gradient(to bottom, $bus-off-white 0%, #eaeff3 100%);
}

.teal-gradient {
	background: #3b7f75;
	background: linear-gradient(to bottom, #3b7f75 0%, #3b6563 100%);
}

.lt-blue-gradient {
	background: #eaeff3;
	background: linear-gradient(to bottom, #eaeff3 0%, #e5eff5 100%);
}

@at-root {
	/* Colored bars at head of containers */
}

.business-blue-head {
	border-top: 0.8rem solid $bus-blue;
}

.gold-head {
	border-top: 0.8rem solid $bus-gold;
}

.teal-head {
	border-top: 0.8rem solid $bus-teal;
}

.charcoal-head {
	border-top: 0.8rem solid $bus-dk-gray;
}

.dust-head {
	border-top: 0.8rem solid $bus-off-white;
}

.yellow-head {
	border-top: 0.8rem solid $bus-yellow;
}

.blue-head {
	border-top: 0.8rem solid $bus-blue;
}

.gray-head {
	border-top: 0.8rem solid $bus-gray;
}

.med-gray-head {
	border-top: 0.8rem solid $bus-md-gray;
}

.bright-blue-head {
	border-top: 0.8rem solid $bus-brt-blue;
}

.deep-blue-head {
	border-top: 0.8rem solid $bus-dk-blue;
}

.lt-blue-head {
	border-top: 0.8rem solid $bus-lt-blue;
}

.mustard-head {
	border-top: 0.8rem solid $bus-dk-yellow;
}

.orange-head {
	border-top: 0.8rem solid $bus-orange;
}

.lt-gray-head {
	border-top: 0.8rem solid $bus-lt-gray;
}

.burnt-orange-head {
	border-top: 0.8rem solid $bus-dk-orange;
}

.med-blue-head {
	border-top: 0.8rem solid $bus-md-blue;
}
