@at-root {
	/* Business: Color Helpers */
}

$colors: ( teal: $bus-teal, blue: $bus-blue);
@each $name,
$color in $colors {
	.text-#{$name} {
		color: $color;
	}
	.bg-#{$name} {
		background-color: $color;
	}
	.bullets-#{$name} {
		color: $color;
	}
}

// Background colors
.business-blue-bg {
	background: $bus-blue;
}

.gold-bg {
	background-color: $bus-gold;
}

.teal-bg {
	background-color: $bus-teal;
}

.charcoal-bg {
	background-color: $bus-dk-gray;
}

.dust-bg {
	background-color: $bus-off-white;
}

.yellow-bg {
	background-color: $bus-yellow;
}

.blue-bg {
	background-color: $bus-blue-secondary;
}

.gray-bg {
	background-color: $bus-gray;
}

.med-gray-bg {
	background-color: $bus-md-gray;
}

.bright-blue-bg {
	background-color: $bus-brt-blue;
}

.deep-blue-bg {
	background-color: $bus-dk-blue;
}

.light-blue-bg {
	background-color: $bus-lt-blue;
}

.mustard-bg {
	background-color: $bus-dk-yellow;
}

.orange-bg {
	background-color: $bus-dk-orange;
}

.light-gray-bg {
	background-color: $bus-lt-gray;
}

.burnt-orange-bg {
	background-color: $bus-dk-orange;
}

.med-blue-bg {
	background-color: $bus-md-blue;
}

// Gradients
.blue-gradient-1 {
	background: #2783b3;
	background: linear-gradient(to bottom, #2783b3 1%, $bus-md-blue 100%);
}

.blue-gradient-2 {
	background: #0072ae;
	background: linear-gradient(to bottom, #0072ae 0%, #0d84b9 100%);
}

.gray-gradient {
	background: $bus-off-white;
	background: linear-gradient(to bottom, $bus-off-white 0%, #eaeff3 100%);
}

.teal-gradient {
	background: #3b7f75;
	background: linear-gradient(to bottom, #3b7f75 0%, #3b6563 100%);
}

.lt-blue-gradient {
	background: #eaeff3;
	background: linear-gradient(to bottom, #eaeff3 0%, #e5eff5 100%);
}


/* Colored bars at head of containers */

.business-blue-head {
	border-top: 0.8rem solid $bus-blue;
}

.gold-head {
	border-top: 0.8rem solid $bus-gold;
}

.teal-head {
	border-top: 0.8rem solid $bus-teal;
}

.charcoal-head {
	border-top: 0.8rem solid $bus-dk-gray;
}

.dust-head {
	border-top: 0.8rem solid $bus-off-white;
}

.yellow-head {
	border-top: 0.8rem solid $bus-yellow;
}

.blue-head {
	border-top: 0.8rem solid $bus-blue;
}

.gray-head {
	border-top: 0.8rem solid $bus-gray;
}

.med-gray-head {
	border-top: 0.8rem solid $bus-md-gray;
}

.bright-blue-head {
	border-top: 0.8rem solid $bus-brt-blue;
}

.deep-blue-head {
	border-top: 0.8rem solid $bus-dk-blue;
}

.lt-blue-head {
	border-top: 0.8rem solid $bus-lt-blue;
}

.mustard-head {
	border-top: 0.8rem solid $bus-dk-yellow;
}

.orange-head {
	border-top: 0.8rem solid $bus-orange;
}

.lt-gray-head {
	border-top: 0.8rem solid $bus-lt-gray;
}

.burnt-orange-head {
	border-top: 0.8rem solid $bus-dk-orange;
}

.med-blue-head {
	border-top: 0.8rem solid $bus-md-blue;
}
