/* Pricing Component */
@import 'initialize';
$component-wrapper: 'price-block';
$p-font-size-base: 4rem;
$row: 'p-row';
$column: 'p-col';
$text-gradient-fallback-color: $lt-blue;
$text-gradient-start-color: #4ab3f1;
$text-gradient-end-color: $md-blue;

@mixin gradient-text-blue {
  color: $text-gradient-fallback-color;
  background-image: none;

  @supports ( (-webkit-background-clip: text) or (background-clip: text) ) {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, $text-gradient-start-color 0, $text-gradient-end-color 100%);
  }
}

.#{$component-wrapper} {
  @import 'base';
}
@import 'double';
@import 'style-01';
@import 'style-02';
@import 'style-03';
@import 'style-05';
