// Green based on Charter Teal
$green: #009E3D;

/* Charter Blue */
.text-primary {
	color: $blue;

	@at-root a#{&}:hover {
		color: darken($blue, 10%);
	}
}

/* Green based on Charter Teal */
.text-success {
	color: $green;

	@at-root a#{&}:hover,
	a#{&}:focus {
		color: darken($green, 10%);
	}
}

/* Charter Light Blue */
.text-info {
	color: $lt-blue;

	@at-root a#{&}:hover,
	a#{&}:focus {
		color: darken($lt-blue, 10%);
	}
}

/* Charter Yellow */
.text-warning {
	color: $yellow;

	@at-root a#{&}:hover,
	a#{&}:focus {
		color: darken($yellow, 10%);
	}
}

/* Charter Pink */
.text-danger {
	color: #96004D;

	@at-root a#{&}:hover,
	a#{&}:focus {
		color: darken(#96004D, 10%);
	}
}
