$file-title: 'Border';
$file-title-plural: $file-title + 's';
@at-root {
	/* #{$file-title} Helpers */
}

$bd-sizes: (0, 1);
$bd-radii: (5);
$bd-colors: ( 'gray': $gray, 'dkgray':$dk-gray, 'ltgray': #eee);
//  Border width
@function border-style($width) {
	@if $width==0 {
		@return none;
	}
	@else {
		@return solid;
	}
}

// Responsive border width classes
@each $breakpoint in map-keys($breakpoints) {
	@if $breakpoint !='xs' {
		@include media-breakpoint-up($breakpoint) {
			$infix: breakpoint-infix($breakpoint, $breakpoints);
			@each $width in $bd-sizes {
				$remWidth: $width * .1rem;
				$style: border-style($width);
				$prefix: 'bd';
				.#{$prefix}#{$infix}-#{$width} {
					border-width: $remWidth;
					border-style: $style;
				}
				.#{$prefix}t#{$infix}-#{$width} {
					border-top-width: $remWidth;
					border-top-style: $style;
				}
				.#{$prefix}r#{$infix}-#{$width} {
					border-right-width: $remWidth;
					border-right-style: $style;
				}
				.#{$prefix}b#{$infix}-#{$width} {
					border-bottom-width: $remWidth;
					border-bottom-style: $style;
				}
				.#{$prefix}l#{$infix}-#{$width} {
					border-left-width: $remWidth;
					border-left-style: $style;
				}
				.#{$prefix}x#{$infix}-#{$width} {
					border-right-width: $remWidth;
					border-right-style: $style;
					border-left-width: $remWidth;
					border-left-style: $style;
				}
				.#{$prefix}y#{$infix}-#{$width} {
					border-top: $remWidth;
					border-top-style: $style;
					border-bottom: $remWidth;
					border-bottom-style: $style;
				}
			}
		}
	}
}
@at-root {
	/* #{$file-title} radius */
}

@each $radius in $bd-radii {
	$remRadius: $radius * .1rem;
	.bd-r#{$radius} {
		border-radius: $remRadius;
	}
	// Top
	.bdt-r#{$radius} {
		border-top-left-radius: $remRadius;
		border-top-right-radius: $remRadius;
	}
	// Right
	.bdr-r#{$radius} {
		border-top-right-radius: $remRadius;
		border-bottom-right-radius: $remRadius;
	}
	// Bottom
	.bdb-r#{$radius} {
		border-bottom-left-radius: $remRadius;
		border-bottom-right-radius: $remRadius;
	}
	// Left
	.bdl-r#{$radius} {
		border-top-left-radius: $remRadius;
		border-bottom-left-radius: $remRadius;
	}
	// Top Left
	.bdtl-r#{$radius} {
		border-top-left-radius: $remRadius;
	}
	// Top Right
	.bdtr-r#{$radius} {
		border-top-right-radius: $remRadius;
	}
	// Bottom Left
	.bdbl-r#{$radius} {
		border-bottom-left-radius: $remRadius;
	}
	// Bottom Right
	.bdbr-r#{$radius} {
		border-bottom-right-radius: $remRadius;
	}
}

@at-root {
	/* #{$file-title} color only */
}

@each $color-name,
$color in $bd-colors {
	.bd-#{$color-name} {
		border-color: $color
	}
	.bdt-#{$color-name} {
		border-top-color: $color;
	}
	.bdr-#{$color-name} {
		border-right-color: $color;
	}
	.bdb-#{$color-name} {
		border-bottom-color: $color;
	}
	.bdl-#{$color-name} {
		border-left-color: $color;
	}
	.bdx-#{$color-name} {
		border-right-color: $color;
		border-left-color: $color;
	}
	.bdy-#{$color-name} {
		border-top-color: $color;
		border-bottom-color: $color;
	}
}

@at-root {
	/* Boxed Container */
}

.box {
	margin-top: 1.5rem;
	margin-right: 0;
	margin-bottom: 1.5rem;
	margin-left: 0;
	padding: 1.5rem;
	background: #e7eef4;
}

