@at-root {
	/* Borders */
}

.border-radius {
	border-radius: $border-radius-small;
	background-clip: padding-box;
}

.border-solid,
.border-dotted {
	padding: 1.5rem;
}

.border-dotted {
	border-style: dotted;
}

.border-left,
.border-right {
	border-color: #e1e1e1;
	border-style: solid;
	border-width: 0;
}

.border-left {
	border-left-width: 0.1rem;
	padding-left: 1rem;
}

.border-right {
	border-right-width: 0.1rem;
	padding-right: 1rem;
}

.box {
	margin-top: 1.5rem;
	margin-right: 0;
	margin-bottom: 1.5rem;
	margin-left: 0;
	padding: 1.5rem;
}

$bd-sizes: (0, 1);
$bd-radii: (5);
$bd-colors: ( 'gray': $gray, 'dkgray':$dk-gray, 'ltgray': #eee);

/* Border width only */

@function border-style($width) {
	@if $width==0 {
		@return none;
	}
	@else {
		@return solid;
	}
}

@each $width in $bd-sizes {
	$remWidth: $width * .1rem;
	$style: border-style($width);
	.bd-#{$width} {
		border-width: $remWidth;
		border-style: $style;
	}
	.bdt-#{$width} {
		border-top-width: $remWidth;
		border-top-style: $style;
	}
	.bdr-#{$width} {
		border-right-width: $remWidth;
		border-right-style: $style;
	}
	.bdb-#{$width} {
		border-bottom-width: $remWidth;
		border-bottom-style: $style;
	}
	.bdl-#{$width} {
		border-left-width: $remWidth;
		border-left-style: $style;
	}
	.bdx-#{$width} {
		border-right-width: $remWidth;
		border-right-style: $style;
		border-left-width: $remWidth;
		border-left-style: $style;
	}
	.bdy-#{$width} {
		border-top: $remWidth;
		border-top-style: $style;
		border-bottom: $remWidth;
		border-bottom-style: $style;
	}
}

@each $radius in $bd-radii {
	$remRadius: $radius * .1rem;
	.bd-r#{$radius} {
		border-radius: $remRadius;
	}
	// Top
	.bdt-r#{$radius} {
		border-top-left-radius: $remRadius;
		border-top-right-radius: $remRadius;
	}
	// Right
	.bdr-r#{$radius} {
		border-top-right-radius: $remRadius;
		border-bottom-right-radius: $remRadius;
	}
	// Bottom
	.bdb-r#{$radius} {
		border-bottom-left-radius: $remRadius;
		border-bottom-right-radius: $remRadius;
	}
	// Left
	.bdl-r#{$radius} {
		border-top-left-radius: $remRadius;
		border-bottom-left-radius: $remRadius;
	}
	// Top Left
	.bdtl-r#{$radius} {
		border-top-left-radius: $remRadius;
	}
	// Top Right
	.bdtr-r#{$radius} {
		border-top-right-radius: $remRadius;
	}
	// Bottom Left
	.bdbl-r#{$radius} {
		border-bottom-left-radius: $remRadius;
	}
	// Bottom Right
	.bdbr-r#{$radius} {
		border-bottom-right-radius: $remRadius;
	}
}


/* Border color only */

@each $color-name,
$color in $bd-colors {
	.bd-#{$color-name} {
		border-color: $color
	}
	.bdt-#{$color-name} {
		border-top-color: $color;
	}
	.bdr-#{$color-name} {
		border-right-color: $color;
	}
	.bdb-#{$color-name} {
		border-bottom-color: $color;
	}
	.bdl-#{$color-name} {
		border-left-color: $color;
	}
	.bdx-#{$color-name} {
		border-right-color: $color;
		border-left-color: $color;
	}
	.bdy-#{$color-name} {
		border-top-color: $color;
		border-bottom-color: $color;
	}
}
