@import 'initialize';
@at-root {
	/* Business Bugfixes */
}

.container-fluid .imageArtDirection {
	margin-left: 0;
	margin-right: 0;
}

@include breakpoint('sm') {
	.#{$mui-wrapper} {
		.#{$mui--wrapper-horizontal-2} {
			.#{$mui--form} {
				width: 450px;
			}
		}
	}
}
