@at-root {
	/* Display Helpers */
}

.clear {
	clear: both;
}

.display-block {
	display: block;
}

.display-inline {
	display: inline;
}

.display-inline-block {
	display: inline-block;
}

.display-table {
	display: table;
}

.display-table-cell {
	display: table-cell;
}

.display-flex {
	display: flex
}

.display-inline-flex {
	display: inline-flex;
}

.flex-1 {
	flex: 1;
}

.hidden {
	display: none;
}

.invisible,
.fouc {
	visibility: hidden;
}
