@at-root {
	/* Sizing Helpers */
}

.width {
	&-full {
		width: 100%;
	}
	&-half {
		width: 50%;
	}
	&-third {
		width: percentage(1 / 3);
	}
	&-quarter {
		width: 25%;
	}
}

//  Full width elements, child links, and child buttons at Small
.fw-sm-only {
	&,
	& .btn,
	& a {
		@media (max-width: $breakpoint-sm-max) {
			width: 100%;
		}
	}
}
