@at-root {
	/* Sizing */
}
.full {
	width: 100%;
}
.width {
	&-full {
		width: 100%;
	}
	&-half {
		width: 50%;
	}
	&-third {
		width: 33%;
	}
	&-quarter {
		width: 25%;
	}
}

/* Full width elements, child links, and child buttons at Small */
.fw-sm-only {
	&,
	& .btn,
	& a {
		@media (max-width: $breakpoint-sm-max) {
			width: 100%;
		}
	}
}
