@at-root {
	/* Text Helpers */
}

.font {
	&-light {
		font-weight: 300;
	}
	&-medium {
		font-weight: 400;
	}
	&-semibold {
		font-weight: 600;
	}
	&-bold {
		font-weight: 700;
	}
	&-extra-bold {
		font-weight: 900;
	}
	&-italic {
		font-style: italic;
	}
	&-underline {
		text-decoration: underline;
	}
	&-underline-none {
		&,
		& a {
			text-decoration: none;
		}
	}
}

.text {
	&-uppercase {
		text-transform: uppercase;
	}
	&-no-wrap {
		overflow: hidden;
		white-space: nowrap;
	}
	&-left {
		text-align: left;
	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
}

//  Font size helpers
@for $i from 8 through 36 {
	$size: $i * 0.1rem;
	.fs-#{$i} {
		font-size: $size;
	}
}

//  Responsive text alignment
@each $position in (left, center, right) {
	@each $bp-name,
	$bp-width in $breakpoints {
		@if $bp-name !='xxs' {
			@media (min-width: $bp-width) {
				.text-#{$position}-#{$bp-name} {
					text-align: $position;
				}
			}
		}
	}
}

// Horizontal rules
hr {
	&.spacer {
		margin-top: 2.0rem;
		margin-bottom: 2.0rem;
		border: 0;
		border-top: none;
	}
	&.inset {
		width: 60%;
	}
	&.black {
		border-top: 0.1rem solid $dk-gray;
	}
}

// Font families
.ff {
	&-charter {
		font-family: Charter Icons;
	}
	&-sans {
		font-family: Open Sans, Arial, Helvetica, sans-serif;
	}
	&-icon {
		font-family: FontAwesome;
	}
}

// Fix for safari
.list-inline > li {
	list-style-type: none;
}
