@at-root {
	/* Buttons */
}

$btn-color: #f66200;
$btn-hover-color: #dd5800;
$btn-lt-blue-gradient-start: #4ab3f1;
$btn-lt-blue-gradient-end: #0091e6;
$btn-lt-blue-bg-color: $btn-lt-blue-gradient-start;
.btn-dk-orange {
	.btn {
		position: relative;
		width: 85%;
		background-color: $btn-color;
		border: none;
		text-transform: uppercase;
		text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.75);
		box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.33);
		font-weight: 700;
		font-size: 2rem;
		background-image: none;
		&:hover {
			background-color: $btn-hover-color;
		}
		&:active {
			box-shadow: none;
			color: #fff;
			background-color: #286090;
			border-color: #204d74;
			&::after {
				display: none;
			}
		}
		&:focus {
			box-shadow: none;
			color: #fff;
			background-color: #286090;
			border-color: #204d74;
		}
		&::after {
			content: "";
			height: 100%;
			width: 100%;
			background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 75%);
			position: absolute;
			left: 0;
			bottom: -1.5rem;
			z-index: -1;
		}
	}
}

// Icon for close button
.icon-remove-sign {
	&:after {
		font-family: FontAwesome;
		content: '\F057';
		color: $dk-gray;
		cursor: pointer;
		transition: color $transition-time-default ease-out;
	}
	@include hover-focus {
		&:after {
			color: $gray;
		}
	}
}

// Light blue button, on 404 page
%btn-lt-blue {
	background-color: $btn-lt-blue-gradient-start;
	background-image: linear-gradient(to bottom, $btn-lt-blue-gradient-start 0, $btn-lt-blue-gradient-end 100%);
	border-radius: $btn-border-radius-small;
	box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.294);
	color: #fff;
	display: inline-block;
	font-weight: 700;
	margin-bottom: 1.2em;
	padding: 0.8rem 0;
	width: 100%;
	text-decoration: none;
	font-size: 1.6rem;
	@include breakpoint('sm') {
		font-size: 1.8rem;
	}
	@include breakpoint('md') {
		font-size: 2.0rem;
	}
	@include hover-focus {
		background-color: $btn-lt-blue-gradient-end;
		background-image: linear-gradient(to bottom, $btn-lt-blue-gradient-end 0, $btn-lt-blue-gradient-start 100%);
	}
	&:active {
		background-color: $btn-lt-blue-gradient-end;
		background-image: linear-gradient(to bottom, $btn-lt-blue-gradient-end 0, $btn-lt-blue-gradient-start 100%);
		box-shadow: none;
	}
}
