@import 'initialize';
$wrapper: 'boxed';
$box-radius: 1rem;

.#{$container-class} .#{$wrapper} {
  border: 0.1rem solid $gray-ea;
  border-radius: $box-radius;
  padding: $grid-gutter-width / 2 - 0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
