@at-root {
	/* Position */
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

@at-root {
	/* .left and .right are Legacy classes combining float and abs positioning. To be removed following authoring update */
}

.left {
	float: left;
	left: 0;
}

.right {
	float: right;
	right: 0;
}

.vertical-center {
	@include vertical-center('relative');
}

.vertical-center-abs {
	@include vertical-center;
}

.full {
	width: 100%;
}
