@at-root {
	/* Position */
}
$vertical-aligns: (top, middle, bottom, baseline);
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.left {
	float: left;
	left: 0;
}

.right {
	float: right;
	right: 0;
}

.bottom-justified {
	bottom: 0;
}

.top-justified {
	top: 0;
}

.left-justified {
	left: 0;
}

.right-justified {
	right: 0;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.vertical-center {
	@include vertical-center('relative');
}

.vertical-center-abs {
	@include vertical-center;
}

.horizontal-center {
	@include horizontal-center;
}

.absolute-center {
	@include absolute-center;
}

.full {
	width: 100%;
}

@each $alignment in $vertical-aligns {
	.vertical-#{$alignment} {
		vertical-align: $alignment;
	}
}
