@import 'initialize';

/* Sports Page | EPB-283 */

.disclaimerWrapper {
	border-top: 1px solid #CCC;
	padding: 20px;
}

.football {
	right: -18%;
	top: 13%;
}

.hockey {
	right: -23%;
	top: 21%;
}

.soccer {
	right: -8%;
	top: 1%;
}

.baseball {
	right: -3%;
	top: 2%;
}

.tennis {
	right: -18%;
	top: 1%;
}

.golf {
	right: -24%;
	top: 8%;
}

.basketball {
	right: -10%;
	top: -10%;
}

.motorsports {
	right: -50%;
	top: 36%;
}

.boxing {
	right: -20%;
	top: 7%;
}

.sports-gradient-bg {
	background: linear-gradient(180deg, #083e60 0%, #0b7ac0);
}

.sports-slides {
	.athlete {
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #0064a0 0%, #004772 100%) repeat scroll 0 0;
		box-shadow: 6px 1px 9px -6px #004772 inset;
		height: 212px;
		overflow: hidden;
		padding: 2rem 0 0 4rem;
	}
	.aem-GridColumn--default--4 {
		padding: 0;
	}
}

.athlete p {
	opacity: 0.5;
}

.hero-pricing {
	margin-top: -25rem;
}

.pkg-logos {
	h4 {
		color: #0069ad;
		text-align: center;
	}
	.logo-wrap {
		border: 1px solid #d9d9d9;
		border-radius: 10px;
		margin: 0 auto;
		max-width: 100%;
		text-align: center;
		width: 100%;
	}
	img.logos {
		max-width: 100%;
	}
	.plus::before {
		content: url("/content/dam/spectrum/residential/en/images/lp/sport/plus-arrow.png");
		left: -36px;
		position: absolute;
		top: 50%;
	}
}

// < 1200
@media only screen and (max-width: $breakpoint-lg-max) {
	.sports-slides .athlete {
		padding: 1rem 0 0 2rem;
	}
	.football {
		right: -24%;
	}
	.basketball {
		right: -19%;
	}
	.boxing {
		right: -23%;
	}
}

// < 992
@media only screen and (max-width: $breakpoint-md-max) {
	.boxing {
		display: none;
	}
	.pkg-logos {
		h4 {
			float: left;
			font-size: 2.60417vw;
			line-height: 3.26953vw;
			margin: 6% 0;
			text-align: right;
			width: 20%;
		}
		.logo-wrap {
			float: right;
			margin: 15px auto;
			max-width: 78%;
			padding: 10px;
			width: 78%;
		}
		.plus::before {
			left: 55%;
			top: -35px;
			transform: rotate(90deg);
		}
	}
	.offersColumns h2 {
		text-align: center;
	}
}

// < 768
@media only screen and (max-width: $breakpoint-sm-max) {
	.hero-pricing {
		margin: 0;
	}
	.pkg-logos {
		h4 {
			margin: 6% 0;
			width: 26%;
			font-size: 3.4375vw;
			line-height: 4.5vw;
			b,
			strong {
				font-size: 4.6875vw;
				line-height: 5vw;
				font-weight: bold;
			}
		}
		.logo-wrap {
			margin: 15px auto;
			max-width: 72%;
			width: 72%;
		}
	}
}

// < 480
@media screen and (max-width: 480px) {
	.pkg-logos {
		.plus::before {
			content: url("/content/dam/spectrum/residential/en/images/lp/sport/plus-arrow-sm.png");
			left: 58%;
			top: -20px;
		}
		.logo-wrap {
			margin: 5px auto;
		}
		img.logos {
			max-width: calc(100% + 10px);
		}
		h4 {
			margin: 6% 0;
			width: 26%;
			font-size: 2.60417vw;
			line-height: 3.26953vw;
			b,
			strong {
				font-size: 4.6875vw;
				line-height: 5vw;
				font-weight: bold;
			}
		}
	}
}

// 768--991
@media only screen and (min-width: map-get($breakpoints,
'sm')) and (max-width: $breakpoint-md-max) {
	.hero-pricing {
		margin-top: -10rem;
	}
}

// 992--1199
@media only screen and (min-width: map-get($breakpoints,
'md')) and (max-width: $breakpoint-lg-max) {
	.hero-pricing {
		margin-top: -21rem;
	}
}
