/* Common Tab styles */
// Component wrapper
.tabbedComponent {
	// Row containing tabs
	.tab-row {
		// nav tabs list
		ul.nav-tabs {
			@include clearfix;

			// Actual tabs
			.tab,
			.arrow {
				float: left;
				font-family: $font-open-sans;
				font-weight: 400;
				font-style: normal;
				list-style: none;
				margin-bottom: -.1rem;
				display: block;

				// Tab link
				> a {
					font-family: $font-open-sans;
					position: relative;
					border: .1rem solid transparent;
					background-color: #fff;
					display: block;
					padding: $nav-link-padding;
					margin-right: 0;
					line-height: 1;
					color: $md-blue;
					text-decoration: none;
					transition: all 150ms ease-out;
					transition-property: color, background-color;

					@include hover-focus {
						color: $lt-blue;
					}
				}
			}

			// Tabs (LI)
			.tab {
				// Active Tab Link
				&.js-active > a {
					&,
					&:hover,
					&:focus {
						color: #333;
						background-color: #fff;
						cursor: default;
					}
				}

				> a.details-toggle {
					display: none;
				}
			}

			// Prev/Next arrows (LI)
			.arrow {
				&:first-of-type {
					text-align: left;
				}

				&:last-of-type {
					text-align: right;
				}
			}
		}

		// Wraps .tabbedLabel (which wraps tab LI)
		// First immediate child of tab UL
		.tabbedRow {
			display: block;

			// Actual tab
			li {
				> a {
					margin: 0;
				}
			}

			// First tab wrapper
			&:first-child {
				li {
					margin-left: 0;
				}
			}

			// Last tab wrapper
			&:last-child {
				li {
					margin-left: 0;
				}
			}
		}
	}

	// Row containing all tab content panes
	.tab-content-container {
		border-radius: 0;
		background-color: #fff;
		border: none;
		padding: 1rem;
	}
}
