@import 'initialize';

// Width of arrow that gets appended to right side of vertical tabs
$arrow-width: 2.5rem;
// Padding for tab content pane
$content-horiz-padding: $arrow-width + 1.5rem;
.tab-style-4 {
	/* Just for testing	 */
	margin-top: 100px;
	background-color: $blue;

	// Component wrapper
	.tab-component {
		@include clearfix;

		// Row containing tabs
		.tab-row {
			display: block;
			box-shadow: none;
			overflow: initial;
			float: left;
			width: percentage(1 / 3);

			// nav tabs list
			> ul {

			}

			// nav tabs list
			ul {
				border-bottom: none;

				// wraps tab LI
				// Overwrite core styles
				.tabbedLabel {
					li {}
				}

				// Overwrite core styles
				.tabbedLabel li {}

				// Actual tabs
				li {
					margin-bottom: 0;
					width: 100%;
					text-align: left;


					// Tab link
					> a {
						color: #fff;
						display: inline-block;
						margin-top: 0;
						margin-bottom: 0;
						padding: 2.1rem 1.0rem 2.1rem $arrow-width;
						background-color: transparent;
						border: none;
						border-left-width: .7rem;
						border-left-style: solid;
						border-left-color: transparent;
						border-radius: 0;
						font-family: $font-open-sans;
						font-weight: 700;
						font-size: 2.2rem;
						width: 100%;
						text-decoration: underline;

						@include hover-focus {
							color: $md-blue;
						}
					}

					// Active tab link
					&.js-active {
						a,
						a:hover,
						a:focus {
							background-color: $lt-blue;
							border: none;
							border-left-style: solid;
							border-left-width: .7rem;
							border-left-color: $yellow;
							box-shadow: none;
							color: #fff;
							text-decoration: none;


							&::after {
								border-bottom: 3.2rem solid transparent;
								border-left: $arrow-width solid $lt-blue;
								border-top: 3.2rem solid transparent;
								content: '';
								height: 0;
								position: absolute;
								right: -$arrow-width;
								top: 0;
								width: 0;
								z-index: 10;
							}
						}
					}
				}

				// Prev/Next Arrows
				> li {
					&:first-child {}

					&:last-child {}
				}
			}

			// Wraps .tabbedLabel (which wraps tab LI)
			// First immediate child of tab UL
			.tabbedRow {
				// Actual tab
				li {
					margin-left: 0;
					margin-right: 0;
					> a {}
				}

				// First tab wrapper
				&:first-child {
					li {}
				}

				// Last tab wrapper
				&:last-child {
					li {}
				}
			}
		}

		// Row containing all tab content panes

		.tab-content-container {
			border-radius: 0;
			background-color: #f2f2f2;
			border: none;
			box-shadow: none;
			float: left;
			width: percentage(2 / 3);
			padding-top: .5rem;
			padding-left: $content-horiz-padding;
			padding-right: $content-horiz-padding;
			padding-bottom: 2.5rem;
		}
	}
}
