@import 'initialize';

.tab-style-2 {
	/* Just for testing	 */
	margin-top: 100px;

	// Component wrapper
	.tab-component {
		// Row containing tabs
		.tab-row {
			@if $nav-tabs-2-enable-justify == true {
				display: table;
			}

			// nav tabs list
			ul.nav-tabs {
				@if $nav-tabs-2-enable-justify == true {
					display: table-row;
				}

				border-bottom: none;

				// Actual tabs
				li {
					margin-bottom: 0;

					@if $nav-tabs-2-enable-justify == true {
						float: none;
					}

					// Tab link
					> a {
						border: 0;
						color: $lt-blue;
						font-family: $font-open-sans;
						font-weight: 700;
						font-size: 1.7rem;

						@include hover-focus {
							color: $md-blue;
						}
					}

					// Active tab link
					&.js-active {
						a,
						a:hover,
						a:focus {
							color: #fff;
							background-color: $lt-blue;
							border: 0;
						}
					}
				}
			}

			// Prev/Next Arrows
			> li {
				@if $nav-tabs-2-enable-justify == true {
					display: table-cell;
				}
			}

			// Wraps .tabbedLabel (which wraps tab LI)
			// First immediate child of tab UL
			.tabbedRow {
				@if $nav-tabs-2-enable-justify == true {
					display: table-cell;
				}

				// Actual tab
				li {
					margin: 0;
				}
			}
		}

		// Row containing all tab content panes
		.tab-content-container {
			border: none;
			background-color: #fff;
		}
	}
}
