@import 'initialize';

.tab-style-3 {
	/* Just for testing	 */
	margin-top: 100px;

	// Component wrapper
	.tab-component {
		// Row containing tabs
		.tab-row {
			overflow: hidden;

			@if $nav-tabs-3-enable-justify == true {
				display: table;
			}

			// nav tabs list
			ul.nav-tabs {
				border-bottom: none;

				@if $nav-tabs-3-enable-justify == true {
					display: table-row;
				}

				// Actual tabs
				li {
					margin-bottom: 0;
					font-size: 1.7rem;
					margin: 0;
					margin-left: 2rem;
					margin-right: 2rem;

					@if $nav-tabs-3-enable-justify == true {
						float: none;
					}

					// Tab link
					> a {
						font-weight: 700;
						border: 1px solid transparent;
						color: $lt-blue;
						display: inline-block;
						margin-top: .5rem;
						margin-bottom: -.1rem;
						padding: 2.5rem 1.25rem;
						background-color: transparent;

						@include hover-focus {
							color: $md-blue;
						}
					}

					// Active tab link
					&.js-active {
						a,
						a:hover,
						a:focus {
							border: 1px solid #FFF;
							border-bottom: none;
							box-shadow: 0 0 .5rem 0 #000000;
							border-radius: .5rem .5rem 0 0;
							background: #fff;
							color: $lt-blue;
							margin-top: 1rem;
						}
					}

					&.arrow {
						@if $nav-tabs-3-enable-justify == true {
							display: table-cell;
						}

						&:first-child {
							margin-left: 0;
						}

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}

			// Wraps .tabbedLabel (which wraps tab LI), First immediate child of tab UL
			.tabbedRow {
				@if $nav-tabs-3-enable-justify == true {
					display: table-cell;
				}
			}
		}

		// Row containing all tab content panes
		.tab-content-container {
			border: none;
			background-color: #fff;
		}
	}
}
