@import 'initialize';

.tab-style-2 {
	/* Just for testing	 */
	margin-top: 100px;
	// Component wrapper
	.tab-component {
		// Row containing tabs
		.tab-row {
			display: block;
			@if $nav-tabs-2-enable-justify == true {
				display: table;
			}
			box-shadow: none;

			// nav tabs list
			> ul {
				@if $nav-tabs-2-enable-justify == true {
					display: table-row;
				}
			}



			// nav tabs list
			ul {
				border-bottom: none;


				// wraps tab LI
				// Overwrite core styles
				.tabbedLabel {
					li {
					}
				}

				// Overwrite core styles
				.tabbedLabel li {
				}

				// Actual tabs
				li {
					margin-bottom: 0;
					@if $nav-tabs-2-enable-justify == true {
						float: none;
					}

					// Tab link
					> a {
						background-color: #fff;
						border: 0;
						border-radius: 0;
						color: $lt-blue;
						font-family:  $font-open-sans;
						font-weight: 700;
						font-size: 1.7rem;
						// margin: 0;
						// padding: 0 1.7%;
						width: auto;

						@include hover-focus {
							color: $md-blue;

						}


					}
					// Active tab link
					&.js-active {
						a,
						a:hover,
						a:focus {
							color: #fff;
							background-color: $lt-blue;
							border: 0;
						}
					}
				}
			}

			// Prev/Next Arrows
			> li {
				@if $nav-tabs-2-enable-justify == true {
					display: table-cell;
				}
			}

			// Wraps .tabbedLabel (which wraps tab LI)
			// First immediate child of tab UL
			.tabbedRow {
				@if $nav-tabs-2-enable-justify == true {
					display: table-cell;
				}

				// Actual tab
				li {
					margin: 0;
					> a {
					}
				}

				// First tab wrapper
				&:first-child {
					li {
					}
				}

				// Last tab wrapper
				&:last-child {
					li {
					}
				}
			}

		}

		// Row containing all tab content panes
		.tab-content-container {
			border: none;
			box-shadow: none;
			background-color: #fff;
		}
	}
}
