/* Tab Style 5: Grey, used on International*/

$border-grey: #E7E7E7;
.tab-style-5 {
	.tabbedComponent.tab-style-1 {
		@include clearfix;

		// Row containing tabs
		.tab-row {
			@if $nav-tabs-5-enable-justify == true {
				display: table;
				width: 100%;
			}

			// nav tabs list
			ul.nav-tabs {
				border-bottom: none;

				@if $nav-tabs-5-enable-justify == true {
					@include breakpoint(lg) {
						display: table-row;
					}
				}

				.tab,
				.arrow {
					margin: 0;
					display: inline-block;

					@if $nav-tabs-5-enable-justify == true {
						float: none;
					}

					> a {
						display: inline-block;
						background-color: transparent;
						background: transparent;
						border: 0;
						border-right: 1px solid $border-grey;
						color: $cool-grey;
						cursor: pointer;
						font: 13px/15px "open_sansbold";
						font-size: 1.3rem;
						line-height: 1.15;
						margin: 0;
						padding: 10px auto;
						text-decoration: none;
						text-align: center;
						text-transform: uppercase;

						&.details-toggle {
							display: none;
						}
					}
				}

				// Actual tabs
				.tab {
					position: relative;
					margin-bottom: 0;
					width: 100%;
					text-align: left;
					margin-left: 0;
					margin-right: 0;
					z-index: 20;

					// Tab link
					> a {}

					// Active tab link
					&.js-active a {
						&,
						&:hover,
						&:focus {}
					}

					&.js-active > a.details-toggle {
						&,
						&:hover,
						&:focus {
							&::before {
								content: 'Hide ';
							}
						}
					}

					// 'View/Hide Details' button
					.details-toggle {
						&::before {
							content: 'View ';
							display: inline-block;
							padding-right: .5rem;
						}
					}
				}

				// Arrows not supported on side tab
				.arrow {
					display: none;
				}
			}
		}

		// Row containing all tab content panes

		.tab-content-container,
		.tabbedContent {
			float: left;
			width: 100%;
		}

		.tab-content-container {
			display: none;
		}

		// Content that had been appended to the tab itself. Used to turn side tabs into 'accordion' style on mobile
		.tabbedRow .tabbedContent {
			ul, ol {
				li {
					list-style-position: inside;
				}
			}
		}
	}
}
