/* Tabbed Component v1 | Oct 2016 */
@import 'initialize';

// Component wrapper                    : .tabbedComponent or .tab-component
// Row containing all tabs              : .tab-row
// Individual tab wrapper (wraps LI > A): .tabbedLabel
// Individual tab wrapper wrapper       : .tabbedRow
// Active tab class                     : .js-active
// Row containing all tab content panes : .tab-content-container
// Tab content pane when side accordion is on mobile: .tabbedContent

$border-radius-base: 4px;
$line-height-base: 1;

//=== Shared nav styles
$nav-link-padding: 1rem 1.5rem;

$nav-link-hover-bg: #666;

$nav-disabled-link-color: #333;
$nav-disabled-link-hover-color: #333;

//== Tabs
$nav-tabs-border-color: #ddd;

$nav-tabs-link-hover-border-color: #666;

$nav-tabs-active-link-hover-bg: #fff;
$nav-tabs-active-link-hover-color: #333;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color: #ddd;
$nav-tabs-justified-active-link-border-color: red;
$nav-tabs-gutter-width: 0.2rem;

$nav-tabs-enable-justify: false;
$nav-tabs-2-enable-justify: true;
$nav-tabs-3-enable-justify: true;

@import 'overrides';
@import 'common';
@import 'style-1';
@import 'style-2';
@import 'style-3';
@import 'style-4';

