/* Tabbed Component v2 | Oct 2016 */
@import 'initialize';
// Classes:
// ========
// Component wrapper                                : .tabbedComponent
// Row containing all tabs                          : .tab-row
// Individual tab wrapper wrapper                   : .tabbedRow
// Individual tab wrapper (wraps LI > A)            : .tabbedLabel
// Tab LI                                           : .tab
// Show/Hide details button                         : .details-toggle
// Prev/Next arrows                                 : .arrow
// Active tab class                                 : .js-active
// Row containing all tab content panes             : .tab-content-container
// Tab content pane when side accordion is on mobile: .tabbedContent
//
// Outline:
// ========
// div.tabbedComponent
// 	div.tab-row
// 		ul.nav.nav-tabs
// 			li.arrow.arrow-prev
// 			div.tabbedRow
// 				div.tabbedLabel
// 					li.tab
// 						a>span (Tab title)
// 						a.details-toggle
// 			li.arrow.arrow-next
// 	div.tab-content-container
// 		div.tabbedContent

//=== Shared nav styles
$nav-link-padding: 1rem 1.5rem;

//== Tabs
$nav-tabs-2-enable-justify: true;
$nav-tabs-3-enable-justify: true;
$nav-tabs-5-enable-justify: true;

// @import 'testing';
@import 'overrides';
@import 'common';
@import 'style-1';
@import 'style-2';
@import 'style-3';
@import 'style-4';
@import 'style-5';

