/* Product Pages base styling */
/* v2 - Updated by Dan Stockbridge */
/* Removed a lot of styling that was duplicated by the typography.css file */

p a.learn-more::after,
li a.learn-more::after,
p a.scroll::before,
li a.scroll::before {
	font-weight: 400;
	display: inline-block;
}

p a.learn-more::after,
li a.learn-more::after {
	font-size: 66.66667%;
	padding-left: .5rem;
	font-family: FontAwesome;
	content: '\f054';
}

p a.scroll,
li a.scroll {
	font-size: 2rem;
	line-height: 1.42857;
}

p a.scroll::before,
li a.scroll::before {
	font-family: FontAwesome;
	content: '\f01a';
	padding-right: .5rem;
}

@media (min-width: 768px) {
	p a.learn-more,
	li a.learn-more {
		font-size: 2rem;
		line-height: 1.5;
	}
}

/* Pricing Component */
.price-block {
	display: inline-block;
	font-size: 4rem;
	line-height: 1;
	font-family: Open Sans,Helvetica,Arial,sans-serif;
}

.price-block > .p-row {
	display: table-row;
}

.price-block .before,
.price-block .after {
	font-size: 50%;
	text-align: left;
	display: block;
}

.price-block .price {
	display: table;
}

.price-block .price > .p-col {
	padding: 0 .1rem;
}

.price-block .price > .p-col:first-child {
	padding-left: 0;
}

.price-block .price > .p-col:last-child,
.price-block .price > .p-col.currency {
	padding-right: 0;
}

.price-block .currency,
.price-block .whole,
.price-block .details {
	display: table-cell;
	vertical-align: top;
}

.price-block .whole {
	font-size: 100%;
}

.price-block .currency {
	font-size: 66.66667%;
}

.price-block .details {
	font-size: 33.33333%;
}

.price-block .details > .inner {
	display: table;
}

.price-block .details .p-row {
	display: table-row;
}

.price-style-05.price-block {
	font-size: 11rem;
	font-weight: 800;
	color: #0077bc;
}

.price-style-05 .before,
.price-style-05 .after {
	font-size: 13.63636%;
	font-weight: 400;
}

.price-style-05 .before {
	text-align: left;
}

.price-style-05 .currency,
.price-style-05 .whole,
.price-style-05 .super,
.price-style-05 .separator {
	font-weight: 800;
}

.price-style-05 .currency,
.price-style-05 .super {
	font-size: 3rem;
	line-height: 1.2;
}

.price-style-05 .whole {
	line-height: 0.8;
}

.price-style-05 .super .extra {
	font-weight: 400;
	font-size: 66.66667%;
}

.price-style-05 .details {
	text-align: left;
	font-size: 100%;
}

.price-style-05 .term {
	color: #333;
	font-weight: 400;
	font-size: 13.63636%;
}

.price-style-05 .separator {
	font-size: 15.3rem;
}
@media (min-width: 992px) {


	.price-style-05.price-block {
		font-size: 17rem;
	}

	.price-style-05 .before,
	.price-style-05 .after {
		font-size: 11.76471%;
	}

	.price-style-05 .currency,
	.price-style-05 .super {
		line-height: 1.3;
		font-size: 23.52941%;
	}

	.price-style-05 .super .extra {
		font-size: 62.5%;
	}

	.price-style-05 .term {
		font-size: 11.76471%;
	}
}
