/* Subnav | v1 */
.menu-subnav {
	background-color: #52565c;
}

.menu-subnav ul {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	max-width: 1197px;
	text-align: center;
	font-size: 0;
}

.menu-subnav li {
	padding: 0;
}

.menu-subnav a {
	line-height: 4rem;
	border-right: 0.1rem solid #8d939b;
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	display: block;
	text-decoration: none;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	-webkit-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
	-webkit-transition-property: background, color;
	transition-property: background, color;
}

.menu-subnav a:focus,
.menu-subnav a:hover {
	background-color: #0077bc;
}

.menu-subnav .spectrum-last a {
	border-right-width: 0;
}
