@import 'initialize';

/* Container Component */

.container {
	max-width: 100%;
	padding: $container-padding;
}

.boxed {
	padding: 2.5rem;
	background-color: #fff;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	border-radius: 5px 5px 0 0;
}

.container-fluid .imageArtDirection {
	margin-left: 0;
	margin-right: 0;
}
