// Menu row containing message and forms (such as Search or ZIP)
// ZIP Code form group beneath header
.spectrum-customerLocation {
	position: relative;
	.aem-Grid .aem-GridColumn {
		&:first-child {
			position: relative;
			// Map marker next to horizontal ZIP form
			&::before {
				display: inline-block;
				top: 1px;
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				font-awesome: map-marker;
				color: $teal;
				font-size: $map-marker-icon-size;
				@include vertical-center();
			}
		}
	}
	// Map marker icon div
	.glyphicon-map-marker {
		display: none;
		@include aem-authoring {
			display: block;
		}
	}
	// User instructions ("Please enter your ZIP Code")
	p {
		font-size: 1.2rem;
		line-height: 1.3;
		margin-bottom: 0;
		padding-left: $map-marker-icon-size;
		color: $dk-gray;
		@include breakpoint('sm') {
			font-size: 1.6rem;
			line-height: $line-height-base;
		}
	}
}

// ZIP Code <form>, in main header row and ZIP form below
.geoLoc {
	padding-top: 1rem;
	margin-left: -$column-padding;
	input,
	.geoloc-btn {
		float: left;
	}
	input {
		width: $zip-input-size;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		border-style: none;
		margin-right: $zip-input-m-size;
		font-size: 1.2rem;
		line-height: 1.8;
		@include breakpoint('sm') {
			width: $zip-sm-input-size;
		}
	}
	// Submit <button> wrapper <div>
	.geoloc-btn {
		width: $zip-btn-size;
		button {
			border-radius: $btn-border-radius-base;
			padding: 0;
			width: 100%;
			line-height: 1.7;
		}
		@include breakpoint('sm') {
			width: $zip-sm-btn-size;
		}
	}
	@include breakpoint('sm') {
		padding-top: 0;
	}
}

// Contains ZIP Code and Search forms
.menu-row-message {
	.container .container {
		padding: 0;
		width: auto;
	}
	@include breakpoint('sm') {
		padding-left: 0;
		padding-right: 0;
	}
}

.messagebox-wrapper {
	padding-top: $site-header-padding-top;
	padding-bottom: $site-header-padding-bottom;
	padding-left: 0.5rem;
	padding-right: 2rem;
	position: relative;
	.geoLoc {
		.spectrum-search-input-wrap {
			display: flex;
			align-items: center;
		}
	}
	input {
		@include form-input-header;
	}
}

// Small horizontal MUI form in dark blue/bottom header row
.mui-mobile {
	padding-top: 1rem;
	padding-bottom: 1rem;
	.description {
		margin-bottom: 0;
		padding: 0;
		font-size: 1.2rem;
		line-height: (12 / 23);
		@include breakpoint('xs') {
			font-size: $font-size-default-bus;
		}
	}
	// Fix component bug
	.zipAction.btn-success,
	.zipAction.btn-default,
	.zipAction.btn-primary {
		background-color: transparent;
		border-style: none;
		background-image: none;
	}
	.geoLoc {
		padding-top: 0;
	}
	input {
		color: $black;
	}
	// Button class on columns bugfix
	.aem-GridColumn.btn-primary {
		background-color: none;
		background-image: none;
	}
}
