// Primary menu row; site logo, link to phone, MUI form
$svg-icon-w: 3rem;
$svg-icon-w-sm: 2rem;
.menu-row-main {
	padding-top: $site-header-padding-top;
	padding-bottom: $site-header-padding-bottom;
	background-color: $bus-blue-secondary;
	.customWrapper {
		display: inline-block;
		overflow: hidden;
		vertical-align: top;
		@include breakpoint('sm') {
			vertical-align: middle;
		}
	}
	.aem-GridColumn--sm--6 + .aem-GridColumn--sm--6 {
		padding-left: 0.2rem;
	}
	// Contains menu with links to phone and ZIP buttons, small MUI form
	.site-header-aside {
		text-align: right;
		ul,
		ol {
			margin-bottom: 0;
			text-align: right;
			font-size: 0;
			line-height: 1;
			padding: 0;
		}
		li {
			padding-right: 0.5rem;
			& + li {
				padding-left: 0.5rem;
			}
		}
		a,
		path {
			transition: all $transition-time-default ease-out;
		}
		path {
			transition-property: fill;
			fill: white;
		}
		svg {
			display: block;
			margin: 0 auto 0.4rem;
			max-height: $svg-icon-w-sm;
			width: $svg-icon-w-sm;
			@include breakpoint('xs') {
				max-height: $svg-icon-w;
				width: $svg-icon-w;
			}
		}
	}
	// link to phone, Zip
	.menu-support {
		display: inline-block;
		@include breakpoint('sm') {
			margin-right: 2.5rem;
			padding-right: 2.5rem;
			border-right: 0.1rem solid white;
		}
		li {
			float: left;
		}
		.linkComponent a {
			font-size: 1.4rem;
		}
	}
	// MUI form
	.mui-wrapper {
		display: none;
		// Fix for button class applied to wrapper
		@include breakpoint('sm') {
			display: block;
		}
		@include aem-authoring {
			display: block;
		}
		[class*='btn'].zipAction {
			background: none;
			&:focus {
				outline: none;
			}
		}
		button {
			vertical-align: middle;
			// @include spe_button-variant($btn-default-colors);
		}
		.description {
			margin-bottom: 0.3rem;
			color: white;
			text-align: center;
			font-size: 1.4rem;
		}
	}
	// ZIP Code <form>
	.geoLoc {
		margin-left: 0;
	} // Phone link
	.linkComponent {
		a {
			display: inline-block;
			color: white;
			text-decoration: none;
			font-weight: normal;
			font-size: 1.6rem;
			transition-property: color;
			@include hover-focus {
				color: $bus-brt-blue;
				text-decoration: underline;
				path {
					fill: $bus-brt-blue;
				}
			}
			@include breakpoint('sm') {
				font-weight: 600;
				font-size: 1.6rem;
			}
		}
	}
}

.site-logo {
	.spacer {
		display: none;
		@include aem-authoring {
			display: block;
		}
	}
}
