// Megamenu Row
// - Primary nav
// - Secondary nav
// - Megamenu
$white-cover-block-offset: 1.6rem;
$link-inner: 'linkLabel';
$link-wrapper: 'linkComponent';
// All nav menu item link
@mixin nav-link {
	color: #fff;
	display: block;
	line-height: $row-megamenu-height;
	text-decoration: none;
	padding-left: 2rem;
	padding-right: 2rem;
	transition: all $transition-time-default ease-out;
	transition-property: color, background-color;
	// font-size: 1.4rem;
	// @include hover-focus {
	// 	background-color: $bus-teal;
	// }
}

// Primary nav menu item
@mixin primary-nav-menu-item {
	border-bottom: none;
	border-right: 0.1rem solid $bus-lt-blue;
	padding-left: 0;
	padding-right: 0;
}

// Primary nav menu item link
@mixin primary-nav-link {
	font-size: 1.5rem;
	@include hover-focus {
		background-color: $bus-teal;
	}
}

// Primary nav menu item link
@mixin secondary-nav-link {
	padding-left: $column-padding;
	padding-right: $column-padding;
	font-size: 1.2rem;
	@include hover-focus {
		color: $bus-brt-blue;
		background-color: transparent;
		text-decoration: underline;
	}
}

// Header-style meagmenu menu items
@mixin megamenu-menu-item-header {
	position: relative;
	&::before {
		display: block;
		content: '';
		position: absolute;
		left: -$white-cover-block-offset;
		width: $white-cover-block-offset;
		height: 4rem;
		background-color: white;
	}
}

// Link inside header-style Megamenu item
@mixin megamenu-link-header {
	color: $bus-dk-gray;
	font-size: 1.8rem;
	font-weight: 300;
	border-bottom-color: $bus-lt-gray;
	border-bottom-width: 0.1rem;
	border-bottom-style: solid;
	@include hover-focus {
		color: $bus-dk-gray;
	}
	.#{$link-inner} {
		&::after {
			display: none;
		}
	}
	.ff-charter,
	.text-icon,
	.ff-icon {
		display: none;
	}
}

// Megamenu link
@mixin megamenu-link {
	font-size: 1.3rem;
	font-weight: 600;
	line-height: (3 / 1.4);
	padding-left: 0;
	text-decoration: none;
	color: $link-color-default-bus;
	@include hover-focus {
		background-color: transparent;
		color: $bus-teal;
	}
}

// Row with primary secondary and megamenu nav
.menu-row-mega-menu {
	background-color: $bus-blue;
	background: linear-gradient(to bottom, #083e62 0%, #00629b 100%);
	.container {
		position: relative;
	}
}

// Wrapper for primary, secondary and megamenu nav
.business-navigation {
	display: none;
	@include breakpoint('sm') {
		display: block;
	}
	.aem-Grid {
		line-height: 0;
		font-size: 0;
		// At small sizes, secondary nav is hidden, make column containing primary nav fill width
		.aem-GridColumn--default--6 {
			width: 100%;
			@include breakpoint('sm') {
				width: 50%;
			}
		}
	}
	ul {
		margin-bottom: 0;
		font-size: 0;
	}
	// All nav links
	// - Primary nav
	// - Secondary nav
	// - Megamenu
	.#{$link-wrapper} {
		a:not(.btn) {
			@include nav-link;
		}
	}
}

// Primary nav: Products, Solutions, Offers
.nav-primary {
	.list-inline {
		margin-left: 0;
		> li {
			@include primary-nav-menu-item;
		}
	}
	.#{$link-wrapper} {
		a[data-linktype="global_nav"]:not(.btn) {
			@include primary-nav-link;
		}
	}
}

// Secondary nav; Insights, Support, Partners
.nav-secondary {
	float: right;
	// Nav item/Link component wrapper (has nothing to do with megamenu)
	.mega-menu-item {
		display: inline-block;
		&:first-child {
			position: relative;
			// Divider between menu items
			&::after {
				@include vertical-center;
				content: '';
				background-color: #fff;
				height: 1rem;
				width: 1px;
				right: 0;
			}
		}
		// bugfix
		> .hidden-sm {
			display: inherit;
		}
	}
	// Links
	.#{$link-wrapper} {
		a:not(.btn) {
			@include secondary-nav-link;
		}
	}
}

// Megamenu/submenu wrapper
// <ul> containing a single <li> containing the megamenu
#{$megamenu-menu} {
	background-color: white;
	border: 0.1rem solid $bus-lt-gray;
	padding-bottom: 2.5rem;
	// Grid container
	.aem-Grid {
		display: flex;
		> .aem-GridColumn {
			border-left: 0.1rem solid $bus-lt-gray;
			&:first-child {
				border-left-width: 0; // First list item inside first column-count:
				.spectrum-first {
					&::before {
						display: none;
					}
				}
			}
		}
		// Authoring only
		@include aem-authoring {
			display: block;
		}
	}
	// Fix for nested columns bug
	.aem-GridColumn .aem-GridColumn {
		padding: 0;
	}
	// Component wrapper, separates inner lists/menus/columns from Megamenu-wrapping <ul> parent
	.list-component {
		// Wraps each submenu/column
		ul {
			padding-left: 0;
			list-style: none;
		}
		// Menu/column spacing
		li {
			padding-left: $column-padding;
			border-width: 0;
		}
	}
	// Megamenu Links
	.#{$link-wrapper} {
		a:not(.btn) {
			@include megamenu-link;
			.#{$link-inner} {
				display: inline;
			}
		}
	}
	// Megamenu Column header-style menu-items
	.spectrum-first {
		@include megamenu-menu-item-header;
		// Megamenu Column header-style links
		.#{$link-wrapper} {
			a:not(.btn) {
				@include megamenu-link-header;
			}
		}
	}
	// Icons after links
	.ff-charter {
		font-size: .7em;
	}
	// Temp override for arrows on button text
	.btn .ff-charter {
		display: none;
	}
	// Temp fix
	> li > div {
		width: auto !important;
	}
	// Authoring only
	@include aem-authoring {
		display: block;
		position: static;
	}
}

// Primary nav at small breakpoints
.navbar {
	margin-bottom: 0;
}
