// Top menu row
$icon-svg-top-w: 1.8rem;
$menu-row-top-link-size: 1.2rem;
// Link spec
@mixin menu-row-top-link {
	color: $bus-dk-blue;
	text-decoration: none;
	font-weight: 600;
	// font-size: $menu-row-top-link-size;
	@include hover-focus {
		color: $bus-teal;
		text-decoration: underline;
		path {
			fill: $bus-teal;
		}
	}
}

.menu-row-top {
	display: none;
	padding-top: $site-header-padding-top * $menu-top-font-size-scale-factor;
	padding-bottom: $site-header-padding-bottom * $menu-top-font-size-scale-factor;
	background-color: white;
	font-size: $menu-row-top-link-size;
	color: $md-blue;
	.#{$grid-container} {
		display: flex;
		align-items: center;
	}
	ol,
	ul {
		margin-bottom: 0;
	}
	li {
		border-color: $md-blue;
	}
	a {
		@include menu-row-top-link;
	}
	// Menu with links to My Account, Search, and Zip (right)
	.#{$user-support-menu} {
		text-align: right;
		// Dividers
		li {
			// border-color: $md-blue;
		}
		// Link icons
		svg {
			width: $icon-svg-top-w;
			max-height: $icon-svg-top-w;
			fill: $bus-dk-blue;
			float: left;
			margin-right: 0.2rem;
		}
	}
	@include breakpoint('sm') {
		display: block;
	}
	@include aem-authoring {
		display: block;
	}
}

// Links to Charter, Reach and Enterprise
.menu-sister-sites {
	ol,
	ul {
		line-height: 0;
	}
	// Dividers
	li {
		line-height: 1;
	}
}
