/* Fix Smarty Streets not appearing in homepage header MUI Component */


/* Jira EPB-478 */

// fixes for the autorsuggest menu <ul>
// Containers wrapping the autosuggest menu
%suggest-menu-wrapper {
	overflow: visible;
}

.site-header-03 {
	.mui-wrapper {
		.muiServiceability {
			.react-autosuggest {
				&__suggestions {
					background: #fff;
					padding-top: 0;
					padding-bottom: 0;
					font-size: 1.2rem;
				}
				&__suggestion {
					padding-top: 0.4rem;
					padding-bottom: 0.4rem;
					cursor: pointer;
				}
			}
		}
	}
	.menu-row-main {
		.site-header-aside {
			.customWrapper {
				@extend %suggest-menu-wrapper;
			}
		}
		.aem-GridColumn {
			@extend %suggest-menu-wrapper;
		}
	} // .menu-row-mega-menu {
	// 	.customWrapper {
	// 		@extend %suggest-menu-wrapper;
	// 	}
	// 	.aem-GridColumn {
	// 		@extend %suggest-menu-wrapper;
	// 	}
	// 	.react-autosuggest__suggestions {
	// 		@extend %suggest-menu-style;
	// 	}
	// }
}
