@at-root {
	/* Type variants */
}

// Weights
.font-light {
	font-weight: 300;
}

.font-medium {
	font-weight: 400;
}

.font-bold,
.text-bold {
	font-weight: 700;
}

.font-extra-bold {
	font-weight: 900;
}

// Styles
.font-italic {
	font-style: italic;
}

// Decoration
.underline,
.font-underline {
	text-decoration: underline;
}

.underline-none {
	a {
		text-decoration: none;
	}
}

//  Font size helpers
@for $i from 8 through 36 {
	$size: $i * 0.1rem;
	.fs-#{$i} {
		font-size: $size;
	}
}

.no-wrap,
.nowrap {
	overflow: hidden;
	white-space: nowrap;
}

// Alignment
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
	// clear: both;
}

.text-right {
	text-align: right;
}

//  Responsive text alignment
@each $position in (left, center, right) {
	@each $bp-name,
	$bp-width in $breakpoints {
		@if $bp-name !='xxs' {
			@media (min-width: $bp-width) {
				.text-#{$position}-#{$bp-name} {
					text-align: $position;
				}
			}
		}
	}
}

// Legacy text centering
.center-sm {
	@media (max-width: 767px) {
		text-align: center;
		.text-left,
		.text-right {
			text-align: center;
		}
	}
}

// Horizontal rules
hr {
	&.spacer {
		margin-top: 2.0rem;
		margin-bottom: 2.0rem;
		border: 0;
		border-top: none;
	}
	&.inset {
		width: 60%;
	}
	&.black {
		border-top: 0.1rem solid $dk-gray;
	}
}

// Lists
.bullets-blue {
	list-style: none;
	padding-left: 1em;
	li::before {
		content: '\2022';
		display: block;
		position: relative;
		max-height: 0;
		left: -1em;
		color: #0091e6;
		font-size: 1em;
	}
}

// Channel Logo icon font fixes
// Logo appears smaller than others
.logo-tmc::before {
	font-size: 3rem;
}

// Prevent inheriting bold styles
.channel-logo::before {
	font-weight: normal;
}
