@at-root {
	/* Type variants */
}

.font-light {
	font-weight: 300;
}

.font-medium {
	font-weight: 400;
}

.font-bold {
	font-weight: 700;
}

.font-extra-bold {
	font-weight: 900;
}

.font-italic {
	font-style: italic;
}

.underline,
.font-underline {
	text-decoration: underline;
}

.underline-none {
	a {
		text-decoration: none;
	}
}

//  Font size helpers
@for $i from 8 through 36 {
	$size: $i * 0.1rem;
	.fs-#{$i} {
		font-size: $size;
	}
}

// Channel Logo icon font fixes
// Logo appears smaller than others
.logo-tmc::before {
	font-size: 3rem;
}

// Prevent inheriting bold styles
.channel-logo::before {
	font-weight: normal;
}

.no-wrap,
.nowrap {
	overflow: hidden;
	white-space: nowrap;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
	clear: both;
}

.text-right {
	text-align: right;
}

.text-bold {
	font-weight: bold;
}

//  Responsive text alignment
@each $position in (left, center, right) {
	@each $bp-name,
	$bp-width in $breakpoints {
		@if $bp-name !='xxs' {
			@media (min-width: $bp-width) {
				.text-#{$position}-#{$bp-name} {
					text-align: $position;
				}
			}
		}
	}
}

// Legacy
.center-sm {
	@media (max-width: 767px) {
		text-align: center;
		.text-left,
		.text-right {
			text-align: center;
		}
	}
}
