@at-root {
/* Section of the header above the primary nav menuc*/
}
.site-header-top {
	// max-width: map-get($breakpoints, 'lg');
	// padding-left: $column-padding;
	// padding-right: $column-padding;
	background-color: #fff;
	@include center-block;
	.aem-GridColumn:first-of-type {
		padding-left: 0;
	}
	.aem-GridColumn:nth-last-of-type(2),
	.aem-GridColumn:nth-last-of-type(3) {
		padding-right: 0;
	}
}

