/* ZIP code/Localization form */
// Padding between form elements
$loc-edge-padding: 10%;

// Form where user enters ZIP code. Text input and "Go" button
.zipAction {
	width: 50%;
	float: left;
	padding-left: $column-padding;
	// Temporary fix for bug in component markup
	background-color: transparent;
	&:active:focus {
		background-color: transparent;
	}
	// End fixes
	@include breakpoint('sm') {
		padding-right: $loc-edge-padding;
	}
	input,
	button {
		font-size: 1.6rem;
		font-family: $font-open-sans;
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	button {
		font-weight: 800;
	}
	// Button container
	.geoloc-btn {
		display: inline-block;
		button {
			@include btn-default;
		}
	}
}

// Form messages. "Your current location is 55555" etc
.userLocation {
	width: 50%;
	float: left;
	padding-right: $column-padding;
	@include breakpoint('sm') {
		padding-left: $loc-edge-padding;
	}
	// Contains all text content
	.spectrum-customerLocation {
		font-size: 1.6rem;
		font-family: $font-open-sans;
		.richtext {
			ul,
			p {
				margin-bottom: 0;
			}
		}
	}
	// All errors
	[class*='error-content'] {}
	// Out of footprint error
	.oof-error-content {}
	// Geolocation error
	.geo-error-content {}
	// ZIP length error (below 5 digits)
	.length-error-content {}
	// Default Message
	.oof-twc-error-content {}
	// Label 'Your current location is XXXXX'
	.localized-content {}
}
