@at-root {
	/* Fixes for Primary Navigation (button-style) */
}

.nav-primary {
	li {
		padding: 0;
	}
	.list-inline.list-separated li {
		border-right: 0.1rem solid #fff;
	}
	a {
		text-decoration: none;
	}
}
