@at-root {
/* Primary Navigation (text-style) */
}
.nav-primary-text {
	background-color: transparent;
	margin-top: 1.5rem;
	a {
		background-color: transparent;
		color: $cool-grey;
		padding: 1.5rem 0;
		line-height: 1;
		text-decoration: none;
		@include hover-focus {
			background-color: transparent;
			color: $blue;
		}
		&:active {
			background-color: transparent;
			color: $blue;
		}
	}
}
