@import url('/content/dam/spectrum/common/en/CSS/helpers.css');
@import url('/content/dam/spectrum/common/en/CSS/typography.css');
@import url('/content/dam/spectrum/residential/en/custom-css/main-to-ingest.css');

/* Garbage CSS from header #5 */
.site-header .nav-user a {
	text-decoration: none;
	font-weight: 400;
	text-transform: none;
}

.nav-primary .list-inline>li {
	padding-right: 0;
	padding-left: 0;
}

.nav-primary .list-inline>li a {
	text-decoration: none;
}

.listComponent .list-inline.list-separated li {
	border-right: 1px solid #fff;
}

.geoLoc-icon {
	margin-top: 1.25em;
}

.geoLoc-icon .linkLabel {
	display: none !important;
}

.htmlWrapper {
	position: absolute;
	top: 0.5em;
	right: 0;
	width: 100%;
	pointer-events: none;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
	margin: 0;
}

.container .navbar-collapse {
	margin-top: 1em;
	width: 100%;
	padding: 1em;
	background: #52565c;
	box-shadow: inset 0px 15px 20px -10px rgba(55, 55, 55, 0.5), inset 0px -15px 20px -15px rgba(55, 55, 55, 0.5)
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #fff;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #e7e7e7;
}

.navbar-header,
.navbar-collapse {
	pointer-events: bounding-box;
}

.navbar-nav {
	margin: 0;
}

.muiLoc-btn {
	display: inline-block;
	margin: 1em 0;
	width: 100%;
}

@media (min-width: 768px) {
	.muiLoc-btn {
		display: block;
		margin: 0;
		width: auto;
	}
}


/* Garbage from header #6 */
@import url('/content/dam/spectrum/common/en/CSS/helpers.css');
@import url('/content/dam/spectrum/common/en/CSS/typography.css');
@import url('/content/dam/spectrum/residential/en/custom-css/main-to-ingest.css');

/* Wrapping entire top nav*/
.site-header-top-wrapper {
  background: #f8f8f8;
}

.site-header .nav-user a {
  text-decoration: none;
  font-weight: 400;
  text-transform: none;
}

/* Text-based-promary nav*/
.headNav a {
  font-size: 1.8rem;
  color: #52565c;
  text-decoration: none;
  font-weight: 700;
}

.headNav a:hover {
  color: #333;
}
