/* Show/hide menu elements responsively, target elements at specific browser widths */

// Menu elements only shown at small breakpoints
.menu-sm {
	@include breakpoint('sm') {
		display: none;
		.aem-AuthorLayer-Layouting &,
		.aem-AuthorLayer-Edit & {
			display: block;
		}
	}
	// Wraps MUI button
	.mui-wrapper {
		// Small "Check availability" button
		.btn-sm {
			font-size: 1.2rem;
			margin-top: 0.7rem;
			padding: 0.5rem 1rem;
			font-weight: 400;
			text-shadow: 0.1rem 0.1rem 0.3rem #888;
		}
	}
}
// Menu elements only shown at large breakpoints
.menu-lg {
	display: none;
	@include breakpoint('sm') {
		display: block;
	}
	.mui-wrapper {
		display: inline-block;
		float: right;
	}
}
