@import 'initialize';
// Style 3:
//   Logo
//   Small
//     Hamburger button
//     ZIP Pin
//   Large
//     Primary nav: button-style
//     User nav
.site-header-top-03 {
	background-color: transparent;
	@include breakpoint('sm') {
		position: relative;
	}
	.menu-row.mui-wrapper {
		margin-bottom: $header-spacing-bottom;
		@include breakpoint('sm') {
			margin-bottom: 0;
		}
	}
}
