@import 'initialize';
$page-header: 'body > header';

#{$page-header} {
  .nav-primary {
    background-color: #52565c;
    margin-top: 2.0rem;
    margin-top: 2.0rem;
    background: none repeat scroll 0 0 #52565c;

    .section.list {
      width: 117.0rem;
      margin: 0 auto;
    }

    ul {
      display: table-row;
      text-align: center;
      background-color: #52565c;

      li {
        display: table-cell;
        text-align: center;
        background: none repeat scroll 0 0 #52565c;
        border-right: .1rem solid #fff;
        color: #fff;

        a {
          padding-top: 1.0rem;
          padding-bottom: 1.0rem;
          line-height: 2.2rem;
          color: #fff;
          font-weight: bold;
          padding: 1.0rem 1.5rem;
        }
      }

      p {
        margin: 1.0rem 0;
      }
    }
  }

  .nav-user {
    ul {
      float: right;

      li:nth-of-type(4) {
        a span::after {
          content: "\f095";
          font-family: $font-font-awesome;
          font-size: 1.4rem;
          display: inline;
          color: white;
        }
      }
    }

    li {
      list-style-type: none;
      display: inline-block;
      // float: right;
      margin: 0 .2rem;
    }

    a {
      background-color: $md-blue;
      border-bottom-left-radius: .3rem;
      border-bottom-right-radius: .3rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      color: #fff;
      display: inline-block;
      padding: 1.3rem .8rem .6rem;
      font-size: 1.2rem;
      text-decoration: none;
      box-shadow: none;
      border-color: inherit;
      border: 0;
      font-family: $font-open-sans;
    }
  }

  // Logo!
  .container .image {
    float: left;
    padding-top: 2.0rem;
  }

  .messageBox {
    clear: both;
  }

  div.image {
    margin-bottom: 0;
  }

  .list-component li a {
  }
}

header {
}

// .muiAddressLookup
#mui-wrapper {
  height: 38.5rem;
  max-width: 37.5rem;
  width: 37.5rem;
  float: right;
  padding: 1.4rem 0 0;
  background-color: #fff;
}

.combine-wrapper {
  color: #000;
  margin: 2.0rem 0 3.0rem 0;

  p {
    font-size: 3.0rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    b {
      font-size: 3.0rem;
      color: #03629c;
    }
  }
}

.adaptive-image-wrapper {
  float: left;

  .adaptiveimage {
    float: left;
    margin-right: 3.0rem;
  }
}

header .customWrapper .muiAddressLookup {
  margin: 4.0rem 0 0 5.0rem;
}
