@import 'initialize';
$page-header: '.site-header';
$logo: 'site-logo';
// Menu item positions, from l to r
$menu-item-search-pos: 1;
$menu-item-contact-pos: 2;
$menu-item-local-pos: 6;
$text-size-user-nav: 1.2rem;
$text-size-primary-nav: 1.6rem;
$primary-nav-h: 5rem;
@import 'base';
@import 'style-01';
@import 'style-02';
@import 'style-03';
@import 'style-04';
@import 'style-05';
