@import 'initialize';

// Classes
$form-inner: 'localization__inputs';  // Wrapping div, direct child of container
$form-input: 'localization__input'; // all <input>s
$form-input-container: 'localization__inputs'; // all <input>s container
$help-button-wrapper: 'localization__info-pop';
$help-button-icon: 'localization__tooltip-icon';
$submit-button: 'localization__input-submit';
$col-apt-unit: 'localization__col1'; // Apt/Unit column
$col-zip: 'localization__col2'; // ZIP column
$form-input-address: 'localization__input-address1'; // address <input>
$form-input-address-wrapper: 'localization__input-container-address';

// Colors
$help-button-icon-color: #ffa300;
$input-border-color: #b5b5b5;
$input-bg-color: #f5f5f5;
$form-text-color: #52565c;

// Misc
$form-font-size: 1rem;
$form-part-border-radius: 1.4rem; // rounded border on form elements
$input-padding-base: 0.6rem;

// Temp: Form header text
.form-header {
  color: $blue;
  font-size: 1.4rem;
  font-family: $font-open-sans;
  padding-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}
