@import 'initialize';

/* Homepage Hero */

.hp-hero {
	width: 100%;
	height: 100%;
	@include breakpoint('md') {
		&>div:after {
			display: block;
			content: "";
			clear: both;
		}
	}
	.imageArtDirection {
		.background-image {
			padding: 0;
		}
		.imageArtDirection {
			@include breakpoint('md') {
				width: 60%;
				float: left;
			}
			.background-image {
				width: 100%;
				height: 20rem;
				background-size: contain;
				@include breakpoint('xs') {
					height: 30rem;
				}
				@include breakpoint('md') {
					float: left;
					height: 40rem;
					background-size: cover;
				}
			}
		}
	}
}


/* MUI Hero Overhang */

.mui-overhang {
	width: 100%;
	height: auto;
	float: right;
	padding: 1.5rem 1.5rem 2rem;
	color: #fff;
	background-color: #0072cb;
	background-image: linear-gradient(to bottom, #0072cb 0%, #005598 100%);
	text-align: center;
	@include breakpoint('md') {
		width: 40%;
		float: right;
	}
	h2 {
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 3.2rem;
		font-weight: bold;
		// text-align: center;
		margin: 0 2rem;
	}
	h3 {
		margin: 0;
		font-weight: 700;
		// text-align: center;
	}
	.price-block {
		color: #fff;
		display: table;
		font-size: 6rem;
		width: 21.2rem;
		margin: 1rem auto;
		.super {
			font-weight: normal;
			font-size: 2rem;
			text-align: left;
			margin-top: 1.2rem;
		}
		.whole {
			font-size: 8rem;
		}
		.currency {
			font-size: 2.4rem;
			vertical-align: middle;
		}
		.before,
		.term {
			font-size: 1rem;
		}
		.before {
			margin-bottom: -1rem;
		}
		.term {
			text-align: left;
		}
	}
	.price {
		margin: 0 auto;
	}
	.price-style-01 {
		.currency,
		.whole,
		.super,
		.separator {
			background: transparent;
			color: #fff;
			-webkit-text-fill-color: #fff;
			text-fill-color: #fff;
		}
		.before,
		.after,
		.term {
			color: #fff;
		}
	}
	.offer-bottom {
		margin-left: 1.5rem;
		margin-bottom: 2rem;
		text-align: center;
	}
	.prod-offer {
		font-size: 2.2rem;
		font-weight: 400;
	}
	@at-root {
		/* MUI form */
	}
	.muiAddressLookup {
		margin: 0 2.5rem;
		label {
			display: none;
		}
		.localization--vertical-1,
		.localization--vertical-2,
		.localization--vertical-3 {
			.localization__inputs {
				padding-bottom: 1rem;
				margin: 0 auto;
			}
		}
		.mui-loader-container {
			height: 185px;
			width: 245px;
			margin: 0 auto;
			img {
				position: relative;
				top: 50px;
				left: 88px;
			}
		}
	}
}


/* Banner below hero */

.banner-offer {
	color: #000;
	margin: 2rem 0 3rem;
	p {
		font-size: 3rem;
		font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		b,
		strong {
			color: #03629c;
		}
	}
}


/* Offers above footer */

.adaptive-image-wrapper {
	float: left;
	.adaptiveimage {
		float: left;
		margin-right: 3rem;
	}
}
