// Colors from Brand Guide
// Primary
$blue: #003057;
// Secondary
$md-blue: #00629b;
$lt-blue: #0077bc;
$gray: #808285;
$dk-gray: #333;
$teal: #009e8c;
// Limited Use#
$yellow: #faa41a;
$pink: #96004d;
$purple: #500778;

// Not from style guide
$lt-orange: #feb533;
$lt-orange-2: #ffb229;
$tangerine: #e69300;
$bright-orange: #ffa300;
$bright-orange-2: #faa000;
$orange-brown: #cc9933;
$cool-grey: #51565c;
$lighter-blue: #52a9f1;
$bright-blue: #0091e6;
$cool-grey-02: #52565c;
$lt-green: #8cc657;
$heading-blue: #03629c;

// Component defaults
$link-default: $md-blue;
$link-hover-default: $blue;

// Mismatches from style guides
// Medium Blue:
// #004E7D
