// Colors from Brand Guide
// Primary
$blue    : #003057;
// Secondary
$md-blue : #00629B;
$lt-blue : #0077BC;
$gray    : #808285;
$teal    : #009E8C;
// Limited Use
$yellow  : #FAA41A;
$pink    : #96004D;
$purple  : #500778;

// Not from style guide
$lt-orange: #feb533;
$lt-orange-2: #ffb229;
$dk-orange: #e69300;
$tangerine: #e69300;
$bright-orange: #ffa300;
$bright-orange-2: #faa000;
$orange-brown: #CC9933;

// Component defaults
$link-default: $md-blue;
$link-hover-default: $blue;
