@import 'colors';
// 544px  = 34em
// 768px  = 48em
// 992px  = 62em
// 1200px = 75em
$breakpoints: (
	xxs: 0,
	xs: em(544),
	sm: em(768),
	md: em(992),
	lg: em(1200)
) !default;

$font-sans-default: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-open-sans   : "Open Sans", $font-sans-default ;
$font-open-sans-lt: "Open Sans Light", $font-sans-default;
