$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------
//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$brand-primary: $blue;
// $brand-success:         #5cb85c !default;
// $brand-info:            #5bc0de !default;
// $brand-warning:         #f0ad4e !default;
// $brand-danger:          #d9534f !default;
//== Scaffolding
//
//## Settings for some of the most global styles.
//** Global textual link color.
$link-color: $md-blue;
//** Link hover color set via `darken()` function.
$link-hover-color: $lt-blue;
$link-hover-color-light: $gray-ef;
//** Link hover decoration.
$link-hover-decoration: underline !default;
// //== Components
// //
$border-radius-base: 0.4rem;
$border-radius-large: 0.6rem;
$border-radius-small: 0.3rem;
// //== Buttons
// //
// Allows for customizing button radius independently from global border radius
$btn-border-radius-base: $border-radius-base;
$btn-border-radius-large: $border-radius-large;
$btn-border-radius-small: $border-radius-small;
// //== Grid system
// //
// //** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 3rem;
