@import 'colors';
@import 'variables-bs';

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
// Breakpoints
// 544px  = 34em
// 768px  = 48em
// 992px  = 62em
// 1200px = 75em
$breakpoints: (
	xxs: 0, xs: 544px, sm: 768px, md: 992px, lg: 1200px
) !default;

// Typefaces
$font-sans-default: Helvetica, Arial, sans-serif;
$font-open-sans: "Open Sans", $font-sans-default ;
$font-open-sans-lt: "Open Sans Light", $font-sans-default;
$font-font-awesome: FontAwesome;

// Global
$column-padding: $grid-gutter-width/2;
$site-max-width: map-get($breakpoints, 'lg') - (strip-unit($column-padding * 2) * 1px);
$container-class: 'container';
$font-size-default: 1.6rem;
