@import 'colors';
@import 'variables-bs';

// Breakpoints
// 544px  = 34em
// 768px  = 48em
// 992px  = 62em
// 1200px = 75em
$breakpoints: (
	xxs: 0, xs: 544px, sm: 768px, md: 992px, lg: 1200px
) !default;

// Typefaces
$font-sans-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-open-sans: "Open Sans", $font-sans-default ;
$font-open-sans-lt: "Open Sans Light", $font-sans-default;

// Global
$column-padding: 1.5rem;
