@import 'initialize';

/* List Component */
$checkmark-size: 3rem;

.list-component {
	.list-style-circle {
		list-style-type: circle;
	}

	.list-style-disc {
		list-style-type: disc;
	}

	.list-style-square {
		list-style-type: square;
	}

	.list-separated li {
		border-bottom: 1px solid #333;

		&:last-child {
			border: none;
		}
	}

	.list-inline.list-separated li {
		border-bottom: none;
		border-right: 1px solid #333;
		&:last-child {
			border: none;
		}
	}
	.bullets-checkmark {
		list-style-type: none;
		padding-left: $checkmark-size + 1rem;
		margin-bottom: 1rem;

		li::before {
			content: '';
			display: inline-block;
			background-image: url(/images/res-form-sprite.png);
			background-repeat: no-repeat;
			background-position: -2px -85px;
			width: $checkmark-size;
			height: $checkmark-size;
			margin-left: -$checkmark-size;
			vertical-align: middle;
			vertical-align: -webkit-baseline-middle;
		}
	}
}
