@import 'initialize';

/* Typography */

html {
	font-size: 62.5%;
}

body {
	font-family: $font-open-sans;
	font-size: 1.6rem;
	line-height: 1.5;
}

@import 'typography/headings';
// Links
a {
	color: $lt-blue;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	text-decoration: underline;
	vertical-align: baseline;
	@include hover-focus {
		color: $blue;
	}
	&.color-light {
		color: #fff;
		@include hover-focus {
			color: $link-hover-color-light;
		}
	}
	&.text-white {
		text-decoration: none;
		@include hover-focus {
			color: #fff;
			text-decoration: underline;
		}
		// Different behavior inside the Link Component, in case author has added a pseudo-element icon
		.linkComponent & {
			@include hover-focus {
				text-decoration: none;
				// SPAN inside A
				.linkLabel {
					text-decoration: underline;
				}
			}
		}
	}
	&.text-yellow {
		@include hover-focus {
			color: #fff;
		}
	}
}

@import 'typography/icons';
li {
	.light-color & {
		color: #fff;
	}
}

.disclaimer {
	color: $gray;
	font-size: 1.1rem;
	line-height: (14 / 11);
}

// Fix for container component padding
@media (max-width: $breakpoint-sm-max) {
	.container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	main.container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
