/* Offer Columns */
// 3-column layouts for 'Featured Offers', 'Best Offers' etc
// Ex: https://www.charter.com/browse/content/packages/
@import 'initialize';

$wrapper: 'offersColumns';
$column: 'aem-GridColumn';
$columnThird: 'aem-GridColumn--default--4';
$grid: 'aem-Grid';
$grid-12: 'aem-Grid--12';
$col-padding: 2rem;
$text-padding-x: 1.5rem;
$switchpoint: 'md';
$numOfColumns: 3;
$grid-gutter-width-third: strip-unit($grid-gutter-width) * percentage(1 / 3) / 100%;
$grid-gutter-width-third: $grid-gutter-width-third + 0rem;
$colGradientStartColor: #fafafa;
$colGradientEndColor: rgba(250, 250, 250, 0);
$light-grey: #d8d8d9;
$cool-grey: #51565c;

// Reset default text padding, and on Best Offers
$text-padding-reset: -($col-padding + $text-padding-x);
$feature-border-color: #b7b7b9;

@mixin reset-text-padding {
	margin-left: $text-padding-reset;
	margin-right: $text-padding-reset;
}

// @import 'testing';

.#{$wrapper} {
	text-align: center;
	color: $cool-grey;

	.#{$grid} {
		.#{$column} {
			position: relative;
			margin-bottom: 1.5rem;
			font-family: $font-open-sans;

			// Set 1/3 total gutter on middle column and 2/3 gutter on outer columns, or else middle column content will be smaller width than outer
			@include breakpoint($switchpoint) {
				padding-left: $grid-gutter-width-third;
				padding-right: $grid-gutter-width-third;

				&:first-of-type {
					padding-left: 0;
					padding-right: $grid-gutter-width-third * 2;
				}

				&:nth-of-type(#{$numOfColumns}),
				&:last-child {
					padding-right: 0;
					padding-left: $grid-gutter-width-third * 2;
				}
			}


			// Inner
			> div {
				position: relative;
				padding: $col-padding;
				border-top: 1px solid $light-grey;
				border-bottom: 1px solid $light-grey;

				// BG gradient
				@include breakpoint(sm) {
					z-index: 20;
				}


				@include breakpoint($switchpoint) {
					background-color: $gray-lighter;
					border: none;
				}
			}
		}

		// Overwrite default layout column widths on small screens
		&.#{$grid-12} {
			@include breakpoint($switchpoint) {
				display: table;
			}

			// Individual columns
			> .#{$column}.#{$columnThird} {
				width: 100%;
				margin-bottom: 0;

				@include breakpoint($switchpoint) {
					width: percentage(1 / 3);
					display: table-cell;
					float: none;
					clear: none;
				}
			}
		}
	}

	// Text content
	.richtext {
		margin-bottom: 3rem;

		@include breakpoint($switchpoint) {
			padding-left: $text-padding-x;
			padding-right: $text-padding-x;
		}
	}

	// Package Title, 'Triple Play Select >>'
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;

		@include breakpoint($switchpoint) {
			text-align: center;
		}
	}

	// Primary feature, '125+ Channels with FREE HD & FREE DVR Service'
	h3 {
		display: none;
		font-size: 2rem;
		color: #000;
		font-weight: 300;

		@include breakpoint($switchpoint) {
			display: block;
		}


		// # of channels, '125+'
		a {
			font-weight: 800;
		}
	}

	// Buttons
	.btn {
		margin-bottom: 1.5rem;
		position: relative;
		font-size: 2.3rem;
		width: 100%;
		text-transform: uppercase;
		padding: .7rem 4.0rem;
		border-radius: 0;
	}

	.btn-primary {
		background-color: $yellow;
		background-image: linear-gradient(to bottom, #feb533 0, #ffa300 100%);
		background-repeat: repeat-x;
		border-color: #e69300;
	}

	.channel-logo {
		display: none;
		color: $md-blue;
		font-style: normal;

		@include breakpoint($switchpoint) {
			display: inline-block;
		}
	}

	// Hide supporting copy at small sizes
	ul, p {
		display: none;

		@include breakpoint($switchpoint) {
			display: block;
		}
	}

	// Content that is shown when accordion expands
	.accordion {
		h3, ul, p {
			display: block;
		}

		ul.bullets-checkmark {
			padding-left: 3rem;
			text-align: left;

			li {
				position: relative;

				&::before {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
}

@import 'featured';
@import 'best-choice';
