/* Offer Columns: 'Best Choice' Style */
// Ex: https://www.charter.com/browse/content/best-choice-hp/
@import 'initialize';

// Colors
$feature-border-color: #b7b7b9;
$heading-color: $md-blue;

// Greys behind feature sections
$grey-01: #eeeef0;
$grey-02: #e9e9eb;
$grey-03: #e4e4e6;

// Grey behind topmost section
$light-grey-01: #f5f5f7;
$dark-blue: #0b4a7b;
$dark-green: #003c34;
$med-green: #006c5b;
$light-teal: #00ab90;

// Divider between feature sections
$divider-border: 0.2rem solid #ccc;

// Paddings specific to this style of offer columns
$bc-col-padding: 2rem;
$bc-text-padding-x: 0rem;
$bc-switchpoint: 'md';
$bc-text-padding-reset: -($bc-col-padding + $bc-text-padding-x);

// Space between columns
$bc-grid-gutter-width: 1.5rem;
$bc-grid-gutter-width-third: strip-unit($bc-grid-gutter-width) * percentage(1 / 3) / 100%;
$bc-grid-gutter-width-third: $bc-grid-gutter-width-third + 0rem;

// CSS Triangles that form the 'corners' of thw wrap-around ribbon at the bottom of the columns
$ribbon-corner-height: 2.5rem;

@mixin bc-reset-text-padding {
	margin-left: $bc-text-padding-reset;
	margin-right: $bc-text-padding-reset;
}

@mixin blue-gradient {
	$gradient-start: #003f63;
	$gradient-end: #007bc6;

	background: $gradient-start;
	background: linear-gradient(to bottom, $gradient-start 0%, $gradient-end 100%);
}

@mixin green-gradient {
	$grn-gradient-start: $med-green;
	$grn-gradient-end: $teal;

	background: $grn-gradient-start;
	background: linear-gradient(to bottom, $grn-gradient-start 0%, $grn-gradient-end 100%);
}

.offers-best-choice {
	margin-bottom: 1.5rem;

	.#{$grid} {
		// Overwrite default column layout
		&.#{$grid-12} {
			> .#{$column}.#{$columnThird} {
				@include breakpoint($bc-switchpoint) {
					vertical-align: bottom;
					padding-left: $bc-grid-gutter-width-third;
					padding-right: $bc-grid-gutter-width-third;

					&:first-of-type {
						padding-left: 0;
						padding-right: $bc-grid-gutter-width-third * 2;
					}

					&:nth-of-type(#{$numOfColumns}),
					&:last-child {
						padding-right: 0;
						padding-left: $bc-grid-gutter-width-third * 2;
					}
				}
			}
		}

		// Column appearance
		.#{$column} {
			// Inner
			// Use a gradient to fake color at bottom of stack
			> div {
				background-color: $light-grey-01;
				background: linear-gradient(to bottom, $light-grey-01 69%, $grey-03 70%, $grey-03 70%);
				padding: $bc-col-padding;
				padding-top: 0;

				// Shift point where it switches colors to be a little lower at larger sizes
				@include breakpoint($bc-switchpoint) {
					box-shadow: .1rem .1rem #9a9a9a;
					background-color: $light-grey-01;
					background: linear-gradient(to bottom, $light-grey-01 59%, #f5f5f7 60%, $grey-03 60%);
				}
			}
		}
	}

	// Package Title, 'Triple Play Select'
	h2 {
		@include bc-reset-text-padding;

		@include blue-gradient;

		padding: 1.5rem;
		font-size: 2.1rem;
		font-weight: bold;
		line-height: 1.1;
		color: #fff;
		font-size: 5.3rem;
		font-weight: 800;
		text-transform: uppercase;

		@include breakpoint($bc-switchpoint) {
			font-size: 2.72vw;
			padding: 1rem;
		}


		@include breakpoint('lg') {
			font-size: 3rem;
		}


		a {
			color: #fff;
			text-decoration: none;
		}

		// Promo text, '- Most Popular -'
		.callout {
			font-size: 2.1rem;
			line-height: 2.4rem;
			color: $yellow;
		}
	}

	// Primary feature, '125+ Channels with FREE HD & FREE DVR Service'
	h3 {
		margin-top: 0;
		line-height: 1;
		margin-bottom: .5rem;
		margin-left: -$bc-col-padding;
		margin-right: -$bc-col-padding;
		font-size: 6.25vw;
		font-weight: 500;
		color: $dark-blue;
		display: block;
		padding-bottom: 5rem;

		@include breakpoint($bc-switchpoint) {
			font-size: 2.4rem;
			border-bottom: none;
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 0;
		}


		// # of channels, '125+'
		a {
			color: $heading-color;
			font-size: 20.3125vw;
			text-decoration: none;

			@include breakpoint('sm') {
				font-size: 15rem;
			}


			@include hover-focus {
				text-decoration: none;
				color: darken($heading-color, 15%);
			}


			@include breakpoint($bc-switchpoint) {
				font-size: 6.5rem;
			}
		}

		// ...'Channels with FREE HD'
		div {
			padding-left: $col-padding;
			padding-right: $col-padding;
		}
	}

	ul, p {
		display: block;
	}

	p, li {
		font-size: 1.8rem;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		font-size: 1.6rem;

		li {
			@include bc-reset-text-padding;

			background-color: $grey-01;
			border-bottom: $divider-border;
			border-top: $divider-border;
			position: relative;
			padding: 1rem ($bc-col-padding + $bc-text-padding-x);

			+ li {
				border-top: none;
				background-color: $grey-02;

				@include breakpoint($switchpoint) {
					border-bottom: $divider-border;
				}
			}

			strong, b {
				color: $dark-blue;
				font-size: 2.4rem;
				line-height: 3rem;
				font-weight: 500;
				display: block;
			}
		}
	}

	.richtext {
		@include breakpoint($switchpoint) {
			padding-left: $bc-text-padding-x;
			padding-right: $bc-text-padding-x;
		}
	}

	.accordion {
		display: none;
	}

	.btn {
		text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.75);
		box-shadow: 0 .1rem .3rem #666;
		font-size: 5vw;
		max-width: 75%;

		@include center-block;

		@include breakpoint($bc-switchpoint) {
			font-size: 1.6rem;
			max-width: 100%;
		}
	}

	.channel-logo {
		display: inline-block;
	}

	// Green ribbon at bottom of columns
	.offer-column-footer {
		position: relative;
		padding: 1.5vw 0;
		font-family: $font-open-sans;
		color: #fff;
		text-align: center;
		z-index: 20;
		width: 100%;
		padding-left: $text-padding-x;
		padding-right: $text-padding-x;
		margin: 0 auto;
		width: calc(100% - #{$grid-gutter-width});
		font-size: 7.3vw;

		p {
			font-size: 7.3vw;
			color: #fff;
			margin: 0 auto;
			padding: 0;
		}

		@include green-gradient;

		@include breakpoint($bc-switchpoint) {
			margin-left: -$ribbon-corner-height;
			width: calc(100% + #{$ribbon-corner-height * 2});
			display: block;
			font-size: 2.8rem;

			p {
				font-size: 2.8rem;
			}
		}


		@include breakpoint('lg') {
			font-size: 3.4rem;

			p {
				font-size: 3.4rem;
			}
		}


		&::before,
		&::after {
			display: none;
			content: '';
			position: absolute;
			border-color: $dark-green transparent;
			border-style: solid;
			top: -$ribbon-corner-height;
			z-index: 20;

			@include breakpoint($bc-switchpoint) {
				display: block;
			}
		}

		&::before {
			border-width: 0 0 $ribbon-corner-height $ribbon-corner-height;
			left: 0;
		}

		&::after {
			border-width: 0 $ribbon-corner-height $ribbon-corner-height 0;
			right: 0;
		}
	}
}
