// 'Best Offers' Offer Columns Style
// Ex: https://www.charter.com/browse/content/best-offers/
@import 'initialize';
@import 'testing';

.best-offers {
	.aem-Grid .#{$column} {


		&:first-of-type {
		}

		&:nth-of-type(#{$numOfColumns}),
		&:last-child {
		}

		// Inner
		> div {
		}
	}

	// Package Title, 'Triple Play Select'
	h2 {
		background-color: $lt-blue;
		padding: 1rem;
		font-size: 2.1rem;
		font-weight: bold;
		line-height: 1.1;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	// Primary feature, '125+ Channels with FREE HD & FREE DVR Service'
	h3 {
		font-size: 2rem;

		// # of channels, '125+'
		a {
			font-size: 5.6rem;
		}
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		font-size: 1.6rem;
	}

	.accordion {
		ul.bullets-checkmark {
			li {}
		}
	}

	// Link to show/hide details
	.accordion-link {
		.show-details {}

		// Offer details (shown after expanding accordion)
		.details {}
	}

	.btn {
		text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.75);
		box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.33);
		font-size: 2.3rem;

		&::after {
			position: absolute;
			content: '';
			height: 100%;
			width: 100%;
			left: 0;
			bottom: -1.5rem;
			background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 75%);
			z-index: -1;
		}
	}
}
