@import 'initialize';

/* Begin dev-only styles. Not for production. */
.#{$wrapper} {
	margin-top: 10rem;

	.aem-Grid.aem-Grid--12 > .aem-GridColumn.aem-GridColumn--default--4 {
		width: 100%;
		float: none;

		@include breakpoint($switchpoint) {
			float: left;
			clear: none;
			width: 33.33333333%;
		}
	}
}

/* End dev-only styles ====================== */
