// Offer Columns 3-column layouts for 'Featured Offers', 'Best Offers' etc
// Ex: https://www.charter.com/browse/content/packages/
@import 'initialize';

$wrapper: 'offer-columns';
$column: 'aem-GridColumn';
$numOfColumns: 3;

$colGradientStartColor: #fafafa;
$colGradientEndColor: rgba(250, 250, 250, 0);

@import 'testing';

.#{$wrapper} {
	text-align: center;
	color: #51565c;

	.aem-Grid .#{$column} {
		position: relative;
		margin-bottom: 1.5rem;
		font-family: $font-open-sans;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;

		&:first-of-type {
			padding-left: 0;
		}

		&:nth-of-type(#{$numOfColumns}),
		&:last-child {
			padding-right: 0;
		}

		// Inner
		> div {
			background-color: $gray-lighter;
			position: relative;
			z-index: 20;
			background-image: radial-gradient(circle, $colGradientStartColor 25%, $colGradientEndColor 60%);
			background-repeat: no-repeat;
			background-position: 0 -90px;
			padding: 2rem;
		}
	}

	.richtext {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-bottom: 3rem;
	}

	// Package Title, 'Triple Play Select >>'
	h2 {
		margin-top: 0;
		margin-bottom: 0;
	}

	// Primary feature, '125+ Channels with FREE HD & FREE DVR Service'
	h3 {
		font-size: 2rem;
		color: #000;
		font-weight: 300;

		// # of channels, '125+'
		a {
			font-weight: 800;
		}
	}

	.accordion {
		ul.bullets-checkmark {
			padding-left: 3rem;
			text-align: left;

			li {
				position: relative;

				&::before {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}

	// Link to show/hide details
	.accordion-link {
		.show-details {}

		// Offer details (shown after expanding accordion)
		.details {}
	}

	.btn {
		// margin-top: 2rem;
		margin-bottom: 1.5rem;
		position: relative;
		font-size: 2.3rem;
		width: 100%;
		text-transform: uppercase;
		padding: .7rem 4.0rem;
		border-radius: 0;
	}

	// Buttons
	.btn-primary {
		background-color: $yellow;
		background-image: linear-gradient(to bottom, #feb533 0, #ffa300 100%);
		background-repeat: repeat-x;
		border-color: #e69300;
	}

	.channel-logo {
		color: $md-blue;
		display: inline-block;
		font-style: normal;
	}
}

@import 'featured';
