// Offer Columns 3-column layouts for 'Featured Offers', 'Best Offers' etc
// Ex: https://www.charter.com/browse/content/packages/
@import 'initialize';

$wrapper: 'offer-columns';
$column: 'aem-GridColumn';
$switchpoint: 'md';
$numOfColumns: 3;

$colGradientStartColor: #fafafa;
$colGradientEndColor: rgba(250, 250, 250, 0);

@import 'testing';

.#{$wrapper} {
	text-align: center;
	color: #51565c;

	.aem-Grid .#{$column} {
		position: relative;
		margin-bottom: 1.5rem;
		font-family: $font-open-sans;

		@include breakpoint($switchpoint) {
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
		}


		&:first-of-type {
			padding-left: 0;
		}

		&:nth-of-type(#{$numOfColumns}),
		&:last-child {
			padding-right: 0;
		}

		// Inner
		> div {
			position: relative;
			padding: 2rem;
			border-top: 1px solid #d8d8d9;
			border-bottom: 1px solid #d8d8d9;

			@include breakpoint(sm) {
				z-index: 20;
				background-image: radial-gradient(circle, $colGradientStartColor 25%, $colGradientEndColor 60%);
				background-repeat: no-repeat;
				background-position: 0 -90px;
			}


			@include breakpoint($switchpoint) {
				background-color: $gray-lighter;
				border: none;
			}
		}
	}

	.richtext {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-bottom: 3rem;
	}

	// Package Title, 'Triple Play Select >>'
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;

		@include breakpoint($switchpoint) {
			text-align: center;
		}
	}

	// Primary feature, '125+ Channels with FREE HD & FREE DVR Service'
	h3 {
		display: none;
		font-size: 2rem;
		color: #000;
		font-weight: 300;

		@include breakpoint($switchpoint) {
			display: block;
		}


		// # of channels, '125+'
		a {
			font-weight: 800;
		}
	}

	.accordion {
		ul.bullets-checkmark {
			padding-left: 3rem;
			text-align: left;

			li {
				position: relative;

				&::before {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}

	.btn {
		// margin-top: 2rem;
		margin-bottom: 1.5rem;
		position: relative;
		font-size: 2.3rem;
		width: 100%;
		text-transform: uppercase;
		padding: .7rem 4.0rem;
		border-radius: 0;
	}

	// Buttons
	.btn-primary {
		background-color: $yellow;
		background-image: linear-gradient(to bottom, #feb533 0, #ffa300 100%);
		background-repeat: repeat-x;
		border-color: #e69300;
	}

	.channel-logo {
		display: none;
		color: $md-blue;
		font-style: normal;

		@include breakpoint($switchpoint) {
			display: inline-block;
		}
	}

	ul, p {
		display: none;

		@include breakpoint($switchpoint) {
			display: block;
		}
	}

	.accordion-link {
		h3, ul, p {
			display: block;
		}
	}
}

@import 'featured';
