@import url('/content/dam/spectrum/business/en/css/business.css');

svg {
	max-width: 50px;
}

/*
.business-navigation .sub-menu-item {
	display: none
}
*/
.megaMenu .business-navigation ul {
	margin-bottom: 0px;
}

