@import 'initialize';
$file-title: 'Site header 03';

/* #{$file-title} */

$map-marker-icon-size: 2rem;
$zip-input-m-size: 4%;
$zip-input-size: 65% - $zip-input-m-size;
$zip-sm-input-size: 80% - $zip-input-m-size;
$zip-btn-size: 100% - ($zip-input-size + $zip-input-m-size);
$zip-sm-btn-size: 100% - ($zip-sm-input-size + $zip-input-m-size);
$menu-top-font-size-scale-factor: 0.8;
$row-megamenu-height: 4rem;
$site-header-3-class: 'site-header-03';
// Packages header w/logo, support menu, and ZIP Code dropdown form
.#{$site-header-3-class} {
	// Container + Layout Container = double padding
	.#{$grid-container} {
		// position: relative;
		#{$grid-column} {
			&:first-child {
				padding-left: 0;
				padding-right: 0;
				@include breakpoint('sm') {
					padding-right: $column-padding;
				}
			}
			& + #{$grid-column} {
				padding-right: 0;
			}
		}
	}
	.menu-row {
		@include breakpoint('sm') {
			display: block;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.site-logo {
		@include vertical-center;
		max-width: percentage(1 / 3);
		@include breakpoint('sm') {
			max-width: none;
		}
		.spacer {
			display: none;
			@include aem-authoring {
				display: block;
			}
		}
	}
	@import 'header-03/top',
	'header-03/main',
	'header-03/nav',
	'header-03/forms';
}
