#{$page-header} {
	// Sometimes modal BG is appended to <body>. Set z-index of page header to equal to bg to avoid modal bg from overlapping modal
	position: static;
	// z-index: $zi-modal-bg;
	@at-root {
		/* Section of the header above the primary nav menu */
	}
	.site-header-top {
		min-height: $site-header-min-height;
		background-color: #fff;
		@include center-block;
		.aem-GridColumn:first-of-type {
			padding-left: 0;
		}
		.aem-GridColumn:nth-last-of-type(2),
		.aem-GridColumn:nth-last-of-type(3) {
			padding-right: 0;
		}
	}
	@at-root {
		/* Sticky header */
	}
	// Move max-width the first child when header is sticky
	&.js-sticky .site-header-top {
		max-width: none;
		>div {
			position: relative;
			max-width: map-get($breakpoints, 'lg');
			@include center-block;
			padding-left: $column-padding;
			padding-right: $column-padding;
		}
	}
}
