@at-root {
	/* Forms */
}

// Parent:
// .messageBox
// 	.messagebox-wrapper
// 		.close-message
// 		.message-content
// 			.link-messagebox
// ZIP form
// .userLocation
// 	.spectrum-customerLocation
#{$page-header} {
	// Prevent forms from touching when multiple are open
	.messagebox-wrapper {
		display: none;
		position: relative;
		.message-content {
			padding: 1rem 0;
		}
	}
	// Wrappers for ZIP and search forms
	.messageBox {
		// Close button
		.close-message {
			position: absolute;
			right: .5rem;
		}
	}
}
