@at-root {
	/* ZIP Map marker icon/link */
}

#{$page-header} {
	.#{$icon-map-marker} {
		a {
			color: #ff0000;
			font-size: 0;
			position: absolute;
			z-index: $zi-icon-map-marker;
			// Space between icon and hamburger button + space between hamburger button and viewport right side + width of humburger button
			right: ($column-padding * 2) + $navbar-toggle-width;
			top: ( $navbar-toggle-spacing-top + ($navbar-toggle-height /2)) - ($icon-map-marker-height / 2);
			&::before {
				@include map-marker-icon;
				display: inline-block;
				font-size: $icon-map-marker-height;
				line-height: 1;
				transition: color 150ms ease-out;
			}
			@include hover-focus {
				&::before {
					color: darken(#ff0000, 15%);
				}
			}
		}
	}
}
