@at-root {
/* MUI component */
}

#mui-wrapper {
  height: 38.5rem;
  max-width: 37.5rem;
  width: 37.5rem;
  float: right;
  padding: 1.4rem 0 0;
  background-color: #fff;
}

.combine-wrapper {
  color: #000;
  margin: 2.0rem 0 3.0rem 0;

  p {
    font-size: 3.0rem;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    b {
      font-size: 3.0rem;
      color: #03629c;
    }
  }
}

.adaptive-image-wrapper {
  float: left;

  .adaptiveimage {
    float: left;
    margin-right: 3.0rem;
  }
}

header .customWrapper .muiAddressLookup {
  margin: 4.0rem 0 0 5.0rem;
}
