@at-root {
	/* Fixes for User Nav */
}
// Have been added to primary user nav file
#{$page-header} {
	.nav-user {
		li {
			position: relative;
		}
		a {
			text-decoration: none;
			font-weight: 400;
			text-transform: none;
		}
	}
}
