@at-root {
	/* Small-breakpoint version of primary nav, toggled with hamburger button */
}

#{$page-header} {
	.navbar-sm {
		background-color: transparent;
		border: none;
		margin-bottom: 0;
		position: static;
		min-height: auto;
		@include breakpoint('sm') {
			display: none;
		}
		// Contains all collapsing content
		&>.navbar-collapse {
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			margin: 0;
			z-index: $zi-primary-nav-sm;
		}
		// <ul> within navbar container
		.navbar-nav {
			padding: $column-padding;
			background: $cool-grey;
			margin-left: -$column-padding;
			margin-right: -$column-padding;
			margin-top: 0;
			margin-bottom: 0;
			&>li>a,
			.open .dropdown-menu>li>a {
				color: #fff;
				text-decoration: none;
				@include hover-focus {
					color: $lt-blue;
				}
			}
			// Open link containing dropdown menu
			&>.open {
				&>a {
					&,
					&:focus,
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
		// Hamburger button
		.navbar-toggle {
			margin-top: $navbar-toggle-spacing-top;
			transition: background 150ms ease-out;
			margin-right: 0;
			margin-bottom: 0;
			z-index: $zi-primary-nav-sm;
		}
	}
}
