@import 'initialize';
// Style 2
//   Logo
//   Small
//     Localization button (small)
//     ZIP Pin
//   Large
//     Localization form (horizontal)
//     ZIP Pin

/* Unique to Site Header 02 */

.#{$mui-wrapper-legacy} .localization.loading {
	display: block;
}

.site-header-top-02 {
	position: relative;
	.menu-sm {
		@include breakpoint('sm') {
			display: block;
		}
		@include breakpoint('md') {
			display: none;
		}
	}
	.menu-lg {
		@include breakpoint('sm') {
			display: none;
		}
		@include breakpoint('md') {
			display: block;
		}
	}
}
