@import 'initialize';
// Style 4
//   Logo
//   Small
//     Hamburger button
//     ZIP Pin
//     Localization button (large)
//   Large
//     Primary nav: button-style
//     User nav
//     Localization button (large)
@at-root {
	/* Unique to Site Header 04 */
}

.site-header-top-04 {
	// Spacing below Check Availability button
	.menu-row.mui-wrapper {
		margin-bottom: $logo-spacing-v;
		.linkComponent>div,
		.text-right {
			text-align: center;
			@include breakpoint('sm') {
				text-align: right;
			}
		}
	}
}
