// Residential
// Primary
$blue: #003057;
// Secondary
$md-blue: #00629b;
$lt-blue: #0077bc;
$gray: #808285;
$dk-gray: #333;
$teal: #009e8c;
// Limited Use#
$yellow: #faa41a;
$pink: #96004d;
$purple: #500778;


// Business
// Primary
$bus-blue: #00629b;
$bus-lt-gray: #919191;
// "charcoal"
$bus-gray: #333;
$bus-blue-teal: #0672A1;
$bus-md-blue: #428bca;
$bus-gold: #fdaa18;
// Secondary
$bus-teal: #18b9a0;
// "brushed gold"
$bus-yellow: #ffbc00;
$bus-md-gray: #535353;
// Tertiary
// "mustard"
$bus-dk-yellow: #daa000;


// Not from style guide
$white: #fff;
$md-blue-fill: #004e7d;
$lt-orange: #feb533;
$lt-orange-2: #ffb229;
$tangerine: #e69300;
$bright-orange: #ffa300;
$bright-orange-2: #faa000;
$orange-brown: #cc9933;
$cool-grey: #51565c;
$lt-cool-grey: #e7eef4;
$lighter-blue: #52a9f1;
$bright-blue: #0091e6;
$cool-grey-02: #52565c;
$lt-green: #8cc657;
$heading-blue: #03629c;
$gray-ea: #eaeaea;
$gray-ef: #efefef;

// Component defaults
$link-default: $md-blue;
$link-hover-default: $blue;

