@import 'initialize';

// a.btn
// button
// input type='button'
// input type='submit'`

@mixin button-shadow-round {
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -15px;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 75%);
    z-index: -1;
  }
}

@mixin button-shadow-round {
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -15px;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0) 75%);
    z-index: -1;
  }
}

.btn {
  display: inline-block;
  box-shadow: .0rem .1rem .3rem #666;
  padding: $btn-padding-default;
  text-decoration: none;
  font-size: $btn-font-size-default;
  font-weight: bold;
  transition: all 150ms ease-out;
  transition-property: color, border, background-color;

  &:hover {
    text-decoration: none;
  }
}

// Orange button
.btn-primary {
  background-image: linear-gradient(to bottom, $lt-orange, $bright-orange);
  background-color: $bright-orange;
  border-style: solid;
  border-width: 0.1rem;
  border-color: $tangerine;
  border-radius: $btn-border-radius-base;
  color: #fff;
  text-shadow: .1rem .1rem .3rem #888;
  font-weight: bold;
  font-size: $btn-font-size-default;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background: $bright-orange;
    background-image: linear-gradient(to bottom, $bright-orange, $lt-orange);
    border-color: $orange-brown;
  }

  &:active {
    &:focus,
    &:hover {
      background: $bright-orange;
      border-color: $orange-brown;
    }
  }

  &:active,
  &:focus {
    background-color: $bright-orange;
    border-color: $orange-brown;
  }
}

// Blue outline button

.btn-info {
  text-transform: uppercase;
  color: $md-blue;
  border: 1px solid $md-blue;
  font-weight: 700;
  background-color: #fff;

  @include hover-focus {
    background-color: #fff;
    color: $md-blue;
    border-color: $blue;
  }

  &:active {
    background-color: #fff;
    color: $md-blue;

    &:focus,
    &:hover {
      background-color: #fff;
      color: $md-blue;
    }
  }
}

// Flat blue button
.btn-default {
  @include btn-default;
}
