@import 'initialize';

/* Typography */

html {
	font-size: 62.5%;
}

body {
	font-family: $font-stack-sans;
	font-size: 1.6rem;
	line-height: 1.5;
}

@import 'typography/headings';
// Links
a {
	color: $lt-blue;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	text-decoration: underline;
	vertical-align: baseline;
	@include hover-focus {
		color: $blue;
	}
	&.color-light {
		// Moved to helpers/colors
	}
	&.text-white {
		// Moved to helpers/colors
	}
	&.text-yellow {
		// Moved to helpers/colors
	}
}

.disclaimer {
	// Moved to helpers/disclaimer
}

@import 'typography/icons';
// Fix for container component padding
@media (max-width: $breakpoint-sm-max) {
	.container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	main.container {
		padding-left: 0px;
		padding-right: 0px;
	}
}
