$footer: '.site-footer';
$social-networks: facebook, twitter, youtube;

// Vertical space between footer sections
$vertical-spacing: 2.8rem;

// Footer's header (social links)
$footer-header-link-color: #686f75;

// Gradient behind Footer's header
$gradient-start: #d4d3d3;
$gradient-end: #f1f1f1;

// List of states
$state-separator-color: #0374ac;
$social-icon-w: 2.8rem;
$social-icon-h: $social-icon-w;
