@import 'initialize';
@import 'variables';
/* Page Footer fixes */
#{$footer} {
	a {
		@include hover-focus {}
	}
	.listComponent ul li {}
	h3 {}
	// anything inside a layout container
	.aem-Grid {
		margin: 0;
	}
	// Social links
	.footer-header {
		a {
			@include breakpoint('sm') {}
			@include hover-focus {}
			@each $social in $social-networks {
				&.spectrum-#{$social} {
					@extend %social-link;
				}
			}
		}
		// Styles common to social links
		%social-link {
			text-align: left;
			font-size: 0;
			width: $social-icon-w;
			padding: 0;
			padding-top: $social-icon-w;
			background-position: center;
			background-repeat: no-repeat;
			display: inline-block;
			@include breakpoint('sm') {
				font-size: inherit;
				padding: 2.7rem 3rem;
				padding-left: 6.7rem;
				background-position: 3rem center;
				width: auto;
			}
		}
		// Styles common to social links
		.listComponent {
			ul {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				display: table;
				width: 75%;
				margin-left: auto;
				margin-right: auto;
				@include breakpoint('sm') {
					padding: 0;
					margin-left: 0;
					margin-right: 0;
					display: block;
					width: auto;
				}
			}
			li {
				background-image: none;
				display: table-cell;
				width: percentage(1 / length($social-networks));
				line-height: 0;
				@include breakpoint('sm') {
					background-image: url(https://www.charter.com/browse/static/images/footer-head-seperator.png);
					display: inline-block;
					width: auto;
					line-height: 1;
				}
				&:first-child {}
			}
			p {}
		}
	}
	// Lists of links
	.footer-body {
		padding-left: $column-padding;
		padding-right: $column-padding;
		ul,
		ol {}
		a {}
	}
	// 'Search for services in your area:'
	.footer-states-list {
		display: none;
		@include aem-authoring {
			display: block;
		}
		@include breakpoint('sm') {
			display: block;
		}
		.list-inline.list-separated {
			li {
				&:last-child {}
				a {
					font-size: $font-size-default;
				}
			}
		}
		ul {}
		p {}
	}
}
