@import 'initialize';
@import 'variables';
#{$footer} {
	color: #fff;
	background-color: $md-blue;
	a {
		color: #fff;
		text-decoration: none;
		transition: all 150ms ease-out;
		transition-property: color;
		@include hover-focus {
			color: $lt-green;
			text-decoration: none;
		}
	}
	.listComponent ul li {
		list-style-type: none;
	}
	h3 {
		color: $lt-green;
		margin-bottom: 1.1rem;
		margin-top: 2.2rem;
		font-size: 1.3rem;
		font-weight: inherit;
	}
	.aem-Grid {
		margin: 0;
	}
	// Social links
	.footer-header {
		text-align: center;
		font-family: $font-sans-default;
		padding: 0;
		background-color: $gradient-start;
		background-image: linear-gradient(to bottom, $gradient-start 0%, $gradient-end 100%);
		margin-bottom: $vertical-spacing;
		margin-left: 0;
		margin-right: 0;
		a {
			color: $footer-header-link-color;
			text-decoration: none;
			@include hover-focus {
				color: $footer-header-link-color;
				text-decoration: underline;
			}
			@each $social in $social-networks {
				&.spectrum-#{$social} {
					background-image: url(#{$img-path}#{$social}.png);
					@extend %social-link;
				}
			}
		}
		// Styles common to social links
		%social-link {
			text-align: left;
			font-size: 0;
			width: $social-icon-w;
			padding: 0;
			padding-top: $social-icon-w;
			background-position: center;
			background-repeat: no-repeat;
			display: inline-block;
			background-repeat: no-repeat;
			@include breakpoint('sm') {
				font-size: 1.2rem;
				padding: 2.7rem 3rem;
				padding-left: 6.7rem;
				background-position: 3rem center;
				width: auto;
			}
		}
		.listComponent {
			ul {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				display: table;
				width: 75%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 0;
				@include breakpoint('sm') {
					padding: 0;
					// margin-left: 0;
					// margin-right: 0;
					// display: block;
					// width: 100%;
				}
			}
			li {
				background-image: none;
				display: table-cell;
				width: percentage(1 / length($social-networks));
				line-height: 0;
				padding-left: 0;
				padding-right: 0;
				@include breakpoint('sm') {
					background-image: url($img-path + 'footer-head-separator.png');
					background-position: left center;
					background-repeat: no-repeat;
					// display: inline-block;
					width: auto;
					line-height: 1;
				}
				&:first-child {
					background: none;
				}
			}
			p {
				margin: 0;
			}
		}
	}
	// Lists of links
	.footer-body {
		// padding-left: $column-padding;
		// padding-right: $column-padding;
		@include breakpoint('sm') {
			.aem-GridColumn {
				// padding-left: 0
			}
		}
		ul,
		ol {
			margin-left: 0;
			padding-left: 0;
		}
		li {
			line-height: 1.1;
			margin-bottom: 1rem
		}
		a {
			font-size: 1.2rem;
		}
	}
	// 'Search for services in your area:'
	.footer-states-list {
		font-family: $font-open-sans;
		border-top: 0.1rem solid $state-separator-color;
		padding: $vertical-spacing 0;
		margin-top: $vertical-spacing;
		text-align: center;
		display: none;
		@include aem-authoring {
			display: block;
		}
		@include breakpoint('sm') {
			display: block;
		}
		.list-inline.list-separated {
			font-size: 0;
			li {
				border-right: .1rem solid #fff;
				margin-top: 0;
				margin-bottom: 1rem;
				&:last-child {
					border: 0;
				}
				a {
					font-size: 1.2rem;
				}
			}
		}
		ul {}
		p {
			font-weight: bold;
			line-height: 2rem;
			font-size: 1.4rem;
		}
	}
	// Copyright info
	.copyright {
		font-size: 1.2rem;
		// padding-left: $column-padding;
		// padding-right: $column-padding;
	}
	a {
		// white-space: nowrap;
	}
}
