/* Helpers | Jan 16 */
@import 'initialize';
@import 'helpers/display';
@import 'helpers/position';
@import 'helpers/spacing';
@import 'helpers/borders';
@import 'helpers/colors';
@import 'helpers/fonts';

.no-wrap,
.nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  clear: both;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.image-left {
  float: left;
  margin-right: 1.5rem;
}

.image-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image-right {
  float: right;
  margin-left: 1.5rem;
}

//  Fix for Core.css
.container-fluid .imageArtDirection {
  margin-left: 0;
  margin-right: 0;
}

.clickable {
  cursor: pointer;
}

// Horizontal rules
hr {
  &.spacer {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
    border: 0;
    border-top: none;
  }

  &.inset {
    width: 60%;
  }

  &.black {
    border-top: 0.1rem solid $dk-gray;
  }
}

// Policies and Terms
.policy-terms {
  padding: 0.5rem 1rem;

  a {
    font-size: 1.4rem;
    font-weight: 700;

    &::before {
      font-family: FontAwesome;
      content: '\f0da';
      margin-right: 0.5em;
    }

    // a:hover::before {
    //   text-decoration: none;
    // }
  }
}


// Lists
.bullets-blue {
  list-style: none;
  padding-left: 1em;

  li::before {
    content: '\2022';
    display: block;
    position: relative;
    max-height: 0;
    left: -1em;
    color: #0091e6;
    font-size: 1em;
  }
}

@import 'helpers/fix-accordion';
