@import 'initialize';

/* Site headers */
@import 'page-headers/variables';
#{$page-header} {
	// Sometimes modal BG is appeneded to <body>. Set z-index of page header to equal to bg to avoid modal bg from overlapping modal
	position: static;
	z-index: $zi-modal-bg;
	// Basic header styles and layout
	@import 'page-headers/base';
	// Shadowed page header
	@import 'page-headers/shadowed';
	// Site logo
	@import 'page-headers/logo';
	// Show/hide menu elements responsively
	@import 'page-headers/responsive';
	// Primary Navigation (button-style)
	// @import 'page-headers/nav-primary';
	// Primary Navigation (text-style)
	@import 'page-headers/nav-primary-text';
	// Small-breakpoint version of primary nav, toggled with hamburger button
	@import 'page-headers/nav-primary-sm';
	// User Navigation (Contact, Support, My Account, etc)
	// @import 'page-headers/nav-user';
	// Primaru Navigation Fixes (to be added to existing core.css)
	@import 'page-headers/nav-primary-fix';
	// User Navigation Fixes (to be added to existing core.css)
	@import 'page-headers/nav-user-fix';
	// Logo Fixes (to be added to existing core.css)
	@import 'page-headers/logo-fix';
	// Forms
	@import 'page-headers/forms';
	// Search form
	// @import 'page-headers/form-search';
	// ZIP code/Localization form
	@import 'page-headers/form-zip';
	// ZIP Map marker icon link wrapper. Clicking triggers form to enter ZIP code
	@import 'page-headers/icon-zip-map-marker';
	// Megamenu for My Services
	@import 'page-headers/megamenu';
	// popover
	@import 'page-headers/popover';
	// Text adjustments
	@import 'page-headers/text';
	// MUI
	@import 'page-headers/mui-horizontal';
	// Some weird Div AEM adds
	.aem-Grid-newComponent {
		display: none;
		@include aem-authoring {
			display: block;
		}
	}
}

// Large phone number
@import 'page-headers/phone-number';
// @import 'page-headers/style-00';
// @import 'page-headers/style-01';
@import 'page-headers/style-02';
@import 'page-headers/style-03';
@import 'page-headers/style-04';
@import 'page-headers/style-05';
