/* Charter Icon font */
@font-face {
	font-family: 'charter-icons';
	src: url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.eot');
	src: url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.eot?iefix') format('eot'), url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.woff') format('woff'), url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.ttf') format('truetype'), url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.svg#webfont') format('svg');
}

@font-face {
	font-family: 'Charter Icons';
	src: url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.eot');
	src: url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.eot?iefix') format('eot'), url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.woff') format('woff'), url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.ttf') format('truetype'), url('/content/dam/spectrum/business/en/Fonts/Charter-icons/charter-icons.svg#webfont') format('svg');
}
